/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme 		Genesis 4
 *  @subset     Main CSS
 *  ----------------------------------------------------
 *  @modified	May 2012
 *  @version	4.0.0
 *  @author		Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* RESET
-------------------------------------------------------------------------------------- */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body {
	height:100%;
	line-height: 1;
	color: black;
	background: white;
}

ul {
	list-style: none;
}

ol {
    list-style-position: inside;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

h1 {
	font-size: 14pt;
	font-weight: bold;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
}

h3 {
	font-size: 11pt;
	font-weight: bold;
}

h4 {
	font-size: 10pt;
}

/* GLOBAL
-------------------------------------------------------------------------------------- */
/* Used to fix Firefox float error. A shorter method = overflow: hidden */
.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

.hideit, .hidden {
    display: none !important;
}

.showit, .shown {
    display: block !important;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.center {
	text-align: center;
}

.right-padding {
	padding-right: 10px;
}

.bold {
	font-weight: bold;
}

.theme_bkgcolor1 {
	background-color: #ccccff;
}

.theme_bkgcolor2 {
	background-color: #0000aa;
}

.theme_bkgcolor3 {
	background-color: #000066;
}

.green {
	color: #00aa00;
}

.red {
	color: #ff0000;
}

.gray {
    color: #888;
}

.blue {
    color: #0000aa;
}

.redtext {
	color: #b74017;
}

.reqd {
	color: #ff0000;
}

.smallfont {
    font-size: 75%;
}

.tealbutton, .state5 {
    background-color: #00aaaa !important;
    color: #ffffff;
}

.greenbutton, .state4 {
    background-color: #00aa00 !important;
    color: #ffffff;
}

.redbutton, .state1 {
    background-color: #cc0000 !important;
    color: #ffffff;
}

.bluebutton {
    background-color: #0000cc !important;
    color: #000000;
}

.goldbutton, .state3 {
	background-color: #eecc00 !important;
	color: #000000;
}

.orangebutton, .state2 {
	background-color: #ee8800 !important;
	color: #000000;
}

.graybutton {
    background-color: #ccc !important;
    color: #000;
}

.smallfldsize {
	width: 75px;
}

.normalfldsize, .midfldsize {
	width: 150px;
}

.widefldsize, .bigfldsize {
	width: 300px;
}

.fullfldsize {
	width: 560px;
}

.bigfldtext {
	font-size: 125%;
}

.highlight-row {
	background-color: #efefef !important;
}

.dark-highlight-row {
	background-color: #cdcdcd !important;
}

.dottedborder {
    border: 1px dotted #888;
}

.curve2 {
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.curve4 {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.curve6 {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

img[align=right] {
	margin-left: 10px;
	margin-bottom: 10px;
}

img[align=left] {
	margin-right: 10px;
	margin-bottom: 10px;
}

input {
	color: #000000;
	border: 1px solid #706961;
	font-size: 12px
}

input[type=button], input[type=submit] {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

input[type=button]:hover, input[type=submit]:hover {
	background-color: #888;
	color: #fff;
	border: 1px solid #000;
}

input[type=checkbox] {
	border: 0px none;
	width: auto !important;
}

input[type=radio] {
	border: 0px none;
	width: auto !important;
}

textarea {
	color: #000000;
	border: 1px solid #706961;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* BODY
-------------------------------------------------------------------------------------- */
body {
	background-color: #e0e0e0;
	color: #000000;
	font: 12px Arial, Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
	min-height: 85%;
	margin: 0 auto;
	padding: 0px;
	z-index: 10;
	position: relative;
}

#hovertip_div {
    display: none;
	position: absolute;
	z-index: 9999;
	border: 1px solid black;
	background: #efefef;
	padding: 2px;
	max-width: 280px;
	box-shadow: 4px 4px 4px #555;
	-moz-shadow: 4px 4px 4px #555;
    -webkit-box-shadow: 4px 4px 4px #555;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=180, Color='#888888')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color='#cccccc');
}

.hovertip {
	cursor: help;
	border-bottom: 1px dotted gray;
    width: auto !important;
    display: inline !important;
}

.hovertip:hover {
	border-bottom: 0px;
}

/* HEADER
--------------------------------------------------------------------------------------- */
#header {
	width: 100%;
	margin: auto;
	padding: 0;
	position: fixed;
    top: 0;
    left: 0;
	font-size: 14pt;
	background-color: #111144;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.8);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,.8);
    box-shadow: 0 4px 8px rgba(0,0,0,.8);
    z-index: 9999;
}

#sitetitle {
    padding: 5px 0 5px 5px;
}

#sitetitle h1 {
    color: #fff;
    font-weight: normal !important;
}

/* TOOLBAR
--------------------------------------------------------------------------------------- */
#admtoolbar {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 0px;
}

#admtoolbar div {
    position: relative;
    margin-right: 5px;
    padding: 2px;
    float: left;
    border: 0px;
}

#admtoolbar div a img {

}

#admtoolbar .highlighttool {
    border: 1px solid #888;
    border-radius: 2px 2px 2px 2px;
    -moz-radius: 2px 2px 2px 2px;
    -webkit-radius: 2px 2px 2px 2px;
}

#admPopupBalloon {
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 280px;
    min-height: 150px;
    padding-top: 10px;
}

.inner_a {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    background-color: #fff;
    padding: 5px 5px 10px 5px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    -moz-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    box-shadow: 0 6px 6px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#555555');
    z-index: 10000;
    overflow: hidden;
}

.inner_b {
    position: absolute;
    top: 0px;
    right: 5px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#admusertool {
    margin-left: 20px;
    cursor: pointer;
}

#admgotowebsite a,
#admhelp a,
#admabout a,
#admsettings a,
#admusertool a {
    display: inline-block;
    width: 16px;
    height: 20px;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
}

#admgotowebsite a:hover,
#admhelp a:hover,
#admabout a:hover,
#admsettings a:hover,
#admusertool a:hover {
    background-position: -16px 0 !important;
}

#admuser_avatar {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;
}

#admuser_info {
    position: relative;
    float: left;
    width: 180px;
}

#admuser_actions {
    position: relative;
    width: 100%;
    clear: both;
    text-align: center;
}

#admuser_actions input[type="button"] {
    margin-left: 10px;
}

#admsettings_info {
    padding: 5px 10px;
}

#admsettings_info_left {
    width: 579px;
    padding: 5px 0;
}

#admsettings_info_left .admsettings_info_main {
    display: inline-block;
    min-width: 60px;
    padding: 2px;
    border: 1px solid #888;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    margin-bottom: 2px;
    text-decoration: none;
    background-color: #eee;
    color: #000;
}

#admsettings_info_left .admsettings_info_sec {
    display: inline-block;
    padding: 2px;
    border: 1px solid #888;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

#admsettings_info_left a:hover {
    background-color: #aaa;
    color: #fff;
}

/* MAIN NAVIGATION -- NEW FOR VERSION 4
-------------------------------------------------------------------------------------- */
#navigation {
    position: relative;
    width: 100%;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    background-color: #555;
    border-bottom: 1px solid #444;
    list-style-type: none outside none;
    clear: both;
}

#navigation li.navmenu {
    position: relative;
    display: block;
    float: left;
    top: 0px;
    height: 24px;
    border-left: 1px solid #888;
    border-right: 1px solid #333;
    margin-left: 1px;
    font-size: 14px;
    z-index: 9999;              /* allows submenu to appear */
    vertical-align: middle;
}

#navigation li.navmenu > a {
    display: block;
    height: 16px;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    border: 0;
}

#navigation li.navmenu:hover > a,
#navigation li.navmenu > a:focus {
    color: #000;
    background-color: #eee;
}

#navigation li.chosen > a {
    font-weight: bold;
    color: #fff;
    background-color: #111;
    border-top: 2px solid #0000cc;
    padding-top: 2px;
}

#navigation li.navmenu:hover > ul {
    display: block;
}

ul.subnavigation {
    position: absolute;
    display: none;
    left: 0;
    list-style-type: none outside none;
    background-color: #eee;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=270, Color='#555555');
    z-index: 10000;
}

ul.subnavigation li.subnavmenu {
    position: relative;
    display: block;
    float: none;
    min-width: 120px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    border: 0;
}

ul.subnavigation li.subnavmenu a {
    display: inline-block;
    padding: 3px 10px;
    height: 16px !important;
    font-weight: normal;
    text-decoration: none;
    color: #000088;
}

ul.subnavigation li.subnavmenu:hover {
    background-color: #ccc;
}

/* LOGIN
--------------------------------------------------------------------------------------- */
body.login {
	background: #f0efea;
}

#content-wrapper.login-wrap {
	background: none;
}

#admloginbox {
    position: relative;
    margin: 100px auto;
    width: 430px;
    border: 1px solid #bdbec0;
    font-size: 9pt;
	background: #fff 50% 20px no-repeat;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    box-shadow: 0 4px 12px rgba(0,0,0,.6);
    z-index: 1000;
	/* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=90, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=270, Color='#bbbbbb');

}

#gotowebsite_loginbtn {
    position: absolute;
    top: 10px;
    left: 20px;
    width: auto;
    padding: 3px;
    border: 1px solid #bdbec0;
	background: #E2E2DA;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 4px #ccc;
    z-index: 999;
}

#gotowebsite_loginbtn a {
    font-size: 10pt;
    text-decoration: none;
    color: #000000;
}

label {
	font-weight: bold;
}

#admloginuser,
#admloginuser_openid {
    position: relative;
    float: left;
    width: 190px;
}

#admloginpass {
    position: relative;
    float: right;
    width: 190px;
}

#admuser,
#admpwd,
#admpwdconfirm,
#admuser_openid {
    position: relative;
    width: 175px;
	margin-top: 2px;
	border: 1px solid #888;
	padding: 6px 6px;
}

.admloginbox_opts {
    margin-top: 5px;
}

#admloginsocial {
    position: relative;
    clear: both;
    width: 390px;
    margin-top: 15px;
}

#admsubmit,
#admrequest,
#admsubmit_openid {
	background: #002288;
	color: #fff;
	border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 7px 13px;
	border: none;
	float: right;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

#admsubmit:hover,
#admrequest:hover,
#admsubmit_openid:hover {
	background: #0033aa;
	-webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    -moz-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
}

#admsubmit:active,
#admrequest:active,
#admsubmit_openid:active {
	background: #1166aa;
}

.login_links {
	display: none;
}

#admloginbox a, a:visited {
    text-decoration: underline;
    font-weight: normal;
}

#admloginbox h2 {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #1a518c;
	font-weight: bold;
	width: 426px;
	text-align: center;
    border-bottom: 1px solid #bdbec0;
    padding: 10px 2px 8px 2px;
    background: #e2e2da;
	margin: 0px;
}

#admloginbox h2.topmargin {
	margin-top: 150px;
}

#admlogininnerbox,
#admlogininnerbox_openid {
	position: relative;
	background-color: #fff;
	width: auto;
    padding: 15px;
    overflow: hidden;
}

.admerror {
    min-height: 0px;
    padding: 3px 5px;
    background-color: #ffeeee;
    border: 1px solid #aaa;
    display: none;
}

.admerror span {
    color: red;
    font-weight: bolder;
}

#admhint {
    border: 1px dotted black;
    padding: 5px;
    margin: 5px 0;
    display: none;
}

#admloginbox .fsec {
	display: none;
}

/* ERRORS AND MESSAGE BOXES
--------------------------------------------------------------------------------------- */
.display_msg {
    width: 99%;
    color: #000000;
    background-color: #CCCCFF;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 10px 0px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    font-size: 10pt;
	font-weight: bold;
}

#display_core_msg {
	display: none;
    width: 99%;
    color: #000000;
    background-color: #FFAAAA;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 5px 0px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    font-size: 10pt;
	font-weight: bold;
}

#display_runtime_msg {
	display: none;
    width: 99%;
    color: #000000;
    background-color: #FFEEAA;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 5px 0px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    font-size: 10pt;
	font-weight: bold;
}

/* CONTENT
--------------------------------------------------------------------------------------- */
#content-wrapper {
	width: 99%;
	min-height: 650px;
	_height: 650px !important; /*FAIL Browser Fix*/
	height: auto;
	position: relative;
	margin: 70px auto 10px;
	background-color: #ffffff;
	border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	overflow: hidden;
}

#contentarea {
	width: 98%;
	min-height: 450px;
	_height: 850px !important; /*FAIL Browser Fix*/
	height: auto;
	color: #000;
	padding: 10px 10px;
}

#contentarea a:link, #contentarea a:visited  {
	color: #000;
	text-decoration: none;
}

#contentarea a:hover {
	color: #000;
	text-decoration: underline;
}

#contentarea h1 {
	font-family: Helvetica,sans-serif;
	font-size: 24px;
	height: 54px;
	width: 364px;
}

#contentarea h1 span {
	display: none;
}

#contentarea h2 {
	font-family: Helvetica,sans-serif;
	font-size: 20px;
	color: #000;
	font-weight: bold;
}

#contentarea h3 {
	font-family: Helvetica,sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: bold !important;
}

#contentarea h3 a {
    font-weight: bold !important;
}

#title {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}

#titlecenter {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #ff0000;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding: 4em 0 1em 0;
}

#prevbuttonbox {
	position: absolute;
	right: 10px;
	top: 10px;
}

#bottomwrapper {
	width: 790px;
	height: 240px;
	margin: 0px;
	position: absolute;
	top: 390px;
	left: 0px;
	z-index: 99;
	color: #5a4630;
}

#bottomwrapper a:link, #contentarea a:visited  {
	color: #000;
	text-decoration: none;
}

#bottomwrapper a:hover {
	color: #0000ff;
	text-decoration: underline;
}

#add_content {
	width: 98%;
	min-height: 100%;
	border: 1px solid #aaaaaa;
	padding: 5px;
	overflow: hidden;
}

#edit_content {
	width: 98%;
	min-height: 100%;
	border: 1px solid #aaaaaa;
	padding: 5px;
	overflow: hidden;
}

.fullwidth {
	width: 98% !important;
}

.editor_buttonbox {
    background-color: #FFFFFF;
    border: 1px solid #888888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 58px;
    width: 370px;
    z-index: 9998;
}

.editor_buttonbox input {
    margin: 3px;
}

/* LIST PAGES
--------------------------------------------------------------------------------------- */
#contentarea .listtable {
	padding: 0;
	margin: 0.5em 0 0 0;
	width: 100%;
	border: 0;
    min-height: 500px;
}

#contentarea .listheader {
	overflow: hidden;
	min-height: 2.5em;
	border: 1px solid #aaa;
	padding: 2px;
	margin: 5px 0px;
	background-color: #e0e0e0;
	text-align: left;
	font-weight: bold;
}

#listrow-check-div {
	border: 1px solid #888;
	padding: 1px;
	margin-right: 2px;
	border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	width: 20px;
	height: 20px;
	float: left;
}

#contentarea .listheader-cell {
	text-align: left;
	float: left;
	padding-left: 2px;
	vertical-align: top;
}

#contentarea .listheader-cell a,
#contentarea .listheader-cell a:visited,
#contentarea .listheader-cell a:hover {
	font-weight: bold;
}

#contentarea .listrow {
	position: relative;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 2px;
	min-height: 3em;
	font-weight: normal;
}

#contentarea .listrow-highlight {
	background-color: #efefef !important;
}

#contentarea .listrow-hover {
	background-color: #ddddff !important;
}

#contentarea .listrow-cell {
	min-height: 1.7em;
	vertical-align: top;
	float: left;
	padding-left: 2px;
    overflow: auto;
}

#contentarea .listrow-cell a,
#contentarea .listrow-cell a:visited,
#contentarea .listrow-cell a:hover {
	font-weight: normal;
}

#contentarea .list-actions {
	position: absolute;
	clear: both;
	display: none;
	float: left;
	bottom: 2px;
	left: 50px;
}

/* EDIT PAGES
--------------------------------------------------------------------------------------- */
#contentarea .edittable {
	padding: 0;
	margin: 0.5em 0 0 0;
	width: 100%;
	border: 0;
	padding-left: 2px;
    overflow: hidden;
}

#contentarea .editdiv {
    overflow: hidden;
    clear: both;
    border-top: 1px dotted #CECECE;
    margin-top: 20px;
}

#contentarea .editdiv p {
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 5px;
}

#contentarea .editlabel {
    clear: both;
    float: left;
    width: 150px;
    /*height: 1000px;*/
    /*margin-bottom: -990px;*/
	margin-top: 0.5em;
    margin-right: 7px;
    background-color: #eee;
    padding: 3px;
	font-weight: bold;
	font-size: 100%;
	vertical-align: top;
}

#contentarea .editlabel.col-2 {
    background-color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 10px;
    width: 99%;
}

#contentarea .editfield {
    float: left;
    margin-top: 0.5em;
	vertical-align: top;
}

#contentarea .edithelp {
	padding-top: 2px;
	font-size: 90%;
	color: #888;
}

#contentarea .editinnerlabel {
    width: 100px;
    display: block;
    float: left;
}

#contentarea .listimage {
	border: 1px solid #ccc;
}

#contentarea .listimage img {
	margin: 3px;
}

#contentarea .sectionheader {
    position: relative;
    width: 495px;
    height: 18px;
    margin-top: 0em;
    padding-top: 0em;
    background-color: #bbb;
    color: #000088;
}

#contentarea .sectionheader .on {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 18px;
    width: 28px;
    background: url(../images/icons/onoff.png) no-repeat 0px 0px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .off {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 18px;
    width: 28px;
    background: url(../images/icons/onoff.png) no-repeat 0px -17px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .min {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../images/icons/minimize.png) no-repeat 0px 0px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .max {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../images/icons/minimize.png) no-repeat 0px -17px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .null {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../images/icons/minimize.png) no-repeat 0px -34px;
    outline: none;
    float: left;
}

.prev_page_form {
	float: left;
}

.bluebox {
    border: 2px solid #8888ff;
    padding: 2px;
}

.redbox {
    border: 2px solid #ff8888;
    padding: 2px;
}

.greenbox {
    border: 2px solid #88ff88;
    padding: 2px;
}

/* SEARCH TOOLS
--------------------------------------------------------------------------------------- */
#search_header {
	position: relative;
	margin: 10px 0 0 0;
	padding: 2px;
	min-height: 12px;
	background-color: #aaaaaa;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border: 1px ridge #777;
}

#search_header #search_content_toggle {
    float: right;
    border-left: threedshadow groove 2px;
    width: 16px;
    height: 16px;
    background: url(../images/general/arrow-toggle-black.png) bottom left;
    cursor: pointer;
}

#search_content {
	min-height: 45px;
	padding: 5px 2px;
	margin: 0;
	color: #000000;
	background-color: #e0e0e0;
	border: 1px ridge #aaaaaa;
}

.search_toggle_closed {
    display: none;
}

.search_leftdiv {
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 5px;
    clear: both;
}

.search_rightdiv {
	float: left;
	width: 72%;
	text-align: left;
	padding-left: 5px;
}

.search_rightdiv input {
	font-size: 9pt;
}

#search_buttons {
	clear: both;
	width: 95%;
	text-align: left;
	margin-top: 0.5em;
	padding-top: 0.5em;
    padding-left: 160px;
}

/* PAGINATION
--------------------------------------------------------------------------------------- */
.page_current {
	font-size: 125%;
	font-weight: bold;
}

.paging_content {
	min-height: 20px;
	padding: 5px 2px;
	margin-top: 0.5em;
	color: #000000;
	background-color: #e0e0e0;
	border: 1px ridge #aaaaaa;
}

.paging_leftdiv {
	float: left;
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

.paging_rightdiv {
	float: right;
	width: 100%;
	text-align: right;
	padding: 0 20px 0 5px;
}

.paging_rightdiv a, a:hover, a:visited {
	padding: 0;
	margin: 0;
}

#paging_recbuttons {
	clear: both;
	width: 100%;
	text-align: left;
	padding: 5px 0 0 10px;
	margin-right: 0;
}

/* INSTRUCTIONS AND ASSISTANCE
--------------------------------------------------------------------------------------- */
#instruct_header {
	position: relative;
	margin: 10px 0 0 0;
	padding: 2px;
	width: 776px;
	min-height: 20px;
	background-color: #aaaaaa;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

#instruct_content {
	min-height: 45px;
	width: 774px;
	padding: 5px 2px;
	margin: 10px 0 0 0;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
}

/* STATISTICS BOX
--------------------------------------------------------------------------------------- */
#stats_content, #info_content {
	width: 246px;
	border: 1px solid #aaaaaa;
	margin-top: 10px;
	padding: 5px;
    clear: left;
    display: none;
}

.pushdown {
	margin-top: 30px;
}

#stats_content .label, #info_content .label {
	font-weight: bold;
    width: 35%;
    margin-top: 0.8em;
    border-top: 1px dotted black;
    clear: left;
    float: left;
}

#stats_content .item, #info_content .item {
	font-weight: normal;
    width: 60%;
    margin-top: 0.8em;
    border-top: 1px dotted black;
    float: left;
}

.content_buttons {
	width: 100%;
	text-align: center;
	margin: 1em auto;
	padding-top: 1em;
}

.content_buttons p {
	line-height: 50%;
}

.selectmenu {
	width: 340px;
}

.gallery_photos {
	position: relative;
	float: left;
	padding: 2px;
	margin: 2px;
	border: 1px solid #aaaaaa;
    overflow: hidden;
}

/* FOOTER
--------------------------------------------------------------------------------------- */
#footer {
	position: relative;
	height: 70px;
	width: 96%;
	bottom: 1px;
	margin: 0 auto;
	z-index: 20;
	clear: both;
	padding: 0 15px;
	font-weight:bold;
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	border-top: 1px solid gray;
}

#footer a:link, a:visited {
	color: #000;
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#footer a:hover {
	color: #000088;
	text-decoration: underline;
}

#footer .rss {
	position: relative;
	bottom: -3px;
}

#footer .copyright {
	text-decoration: none;
}

.greytext a {
	color: #666;
}

.greytext a:visited {
	color: #666;
}

/* HELP
--------------------------------------------------------------------------------------- */
#help {
	font-family: arial;
	font-weight: bold;
	font-size: 12pt;
	color: #000;
}

#help_instructions {
	min-height: 370px;
}

#help_about {
	text-align: center;
	padding-top: 10px;
	min-height: 330px;
}

#help a, a:visited {
	text-decoration: none;
}

.helplist {
	list-style-position: outside;
	list-style-type: disc;
	margin: 0 20px;
}

.helplist li {
    padding-bottom: 0.5em;
}

.browser_logo {
    display: block;
    height: 34px;
    width: 38px;
    background: url(../images/browser_logos.png) no-repeat;
}

/* PAGES
-------------------------------------------------------------------------------------- */
.page-list {
	list-style: none;
	margin: 0;
	padding-left: 20px;
	display: block;
}

.clear-element {
	clear: both;
}

.page-item > div {
	padding-left: 0px;
	background: #f8f8f8;
	margin: 0.25em 0 0 0;
}

.element-left {
	text-align: left;
}

.sort-handle {
	cursor: move;
}

.helper {
	border: 2px dashed #777777;
}

.current-nesting {
	background-color: #8888ff;
	color: #000;
}

.element-bold {
	color: red;
	font-weight: bold;
}

.dyntree-buttons {
	display: none;
}

/* ORGANIZER (c)
--------------------------------------------------------------------------------------- */
#organizepanel {
	display: none;
}

#organize {
	position: relative;
	border: 2px solid #bbb;
	padding: 5px;
	min-height: 100px;
	height: auto;
	width: 98%;
	margin-bottom: 10px;
	cursor: pointer;
	cursor: move;
	background-color: #fff;
	overflow: visible;
}

#organize li {
	/*width: 100px;*/
	/*height: 130px;*/
	padding: 3px;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	display: block;
	overflow: hidden;
}

#organize li a {
	display: block;
	cursor: pointer;
	cursor: move;
}

/* SEND MESSAGE
--------------------------------------------------------------------------------------- */
.sendmsg_label {
    clear: both;
    float: left;
    font-weight: bold;
    font-size: 10pt;
    width: 100px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.sendmsg_text {
    float: left;
    margin-bottom: 5px;
}

/* MISC
--------------------------------------------------------------------------------------- */
.passok {
	display: none;
}

.passbad {
	display: none;
}

.cpassok {
	display: none;
}

.cpassbad {
	display: none;
}

._button {
	background: #004488;
	color: #fff;
	border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding: 7px 13px;
	border: none;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

._button:hover {
	background: #1166aa;
}

._button:active {
	background: #1166aa;
}

/* DYNDIV (c)
--------------------------------------------------------------------------------------- */
#dyncontainer {
    position: relative;
    overflow: auto;
    min-height: 20px;
    width: 500px;
}

.dynheader {
	position: relative;
	height: 1.5em;
	border: 1px solid black;
	padding: 5px;
	width: 438px;
	margin-bottom: 0;
	background-color: #ccccff;
	font-weight: bold;
}

.dyn {
	position: relative;
	border: 1px solid black;
	padding: 5px;
	width: 450px;
	margin-bottom: 10px;
	cursor: pointer;
	cursor: move;
	background-color: #fff;
	overflow: visible;
    vertical-align: top;
}

.dyn .dynlabel {
    width: 75px;
    display: block;
    float: left;
}

.dyn_nocursor {
	cursor: default;
}

.dynedit {
	display: none;
	border: 1px solid #888;
	padding: 2px;
	margin-top: 5px;
}

.dynedit p {
	padding-top: 3px;
}

.dynbuttons {
	position: absolute;
	right: 5px;
	top: 5px;
	vertical-align: top;
	text-align: right;
}

.dyna {
	position: relative;
	border: 1px solid black;
	padding: 5px;
	width: 435px;
	margin-top: 10px;
	background-color: #ddd;
}

/* DYNTREE (c)
--------------------------------------------------------------------------------------- */
.dyntree-container {
	border: 1px solid #bbb;
	padding: 5px;
	width: 100%;
	min-height: 200px;
	height: auto;
	margin: 0;
	font-size: 10px;
	background: white;
	overflow: visible;
}

/* FLOATING DIVS
--------------------------------------------------------------------------------------- */
.box {
	display: none;
	position: absolute;
    width: 300px;
    min-height: 200px;
    overflow: hidden;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border: 1px solid #000000;
	z-index: 9000;
	-webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
}
