/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme 		Genesis 4
 *  @subset     Settings CSS
 *  ----------------------------------------------------
 *  @modified	May 2012
 *  @version	4.0.0
 *  @author		Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* SETTINGS
--------------------------------------------------------------------------------------- */
#wait {
    display: none;
    text-align: center;
    vertical-align: middle;
    height: 100px;
}

#waitoverlay {
	height: 100%;
	width: 100%;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	text-align: center;
	padding-top: 100px;
	font-size: 12pt;
	font-weight: bold;
}

#settings {
    font-family: arial;
    font-weight: bold;
    font-size: 12pt;
    color: #000;
}

#settings a, a:visited {
    text-decoration: none;
}

#admSettingsPopupBalloon {
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 280px;
    min-height: 150px;
    padding-top: 10px;
}

.inner_a {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    background-color: #fff;
    padding: 5px 5px 10px 5px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    -moz-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    box-shadow: 0 6px 6px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#555555');
    z-index: 10000;
    overflow: hidden;
}

.inner_b {
    position: absolute;
    top: 0px;
    right: 5px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#settingstabs {
    overflow: hidden;
}

#settingstabs ul li a.settingstabs_link,
#settingstabs ul li a.settingstabs_link:hover,
#settingstabs ul li a.settingstabs_link:visited {
	color: #000000 !important;
	text-decoration: none !important;
    border-bottom: none !important;
}

#settingstabs .header {
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    padding: 15px 0px 10px;
    clear: both;
}

#settingstabs .setlabel {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 20%;
    clear: left;
    float: left;
    margin-bottom: 7px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setlabel select {
	max-width: 210px;
}

#settingstabs .setlabelnarrow {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 150px;
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding-top: 2px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setdata,
#settingstabs .setdatapanel {
    min-height: 20px;
    width: 79%;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 2px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setdata textarea {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
}

#settingstabs .setdatapanel {
    border: 1px dotted #ccc;
    height: 1em;
    overflow: hidden;
}

#settingstabs .setdatapanel:before {
    content: "+";
    cursor: pointer;
    padding: 10px;
}

#settingstabs .setdatapanel .setreportpanel {
    margin: 8px 10px;
    background-color: #ddd;
    padding: 5px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportrow {
    position: relative;
    line-height: 1.1em;
    border-bottom: 1px dotted #bbb;
    clear: both;
    padding: 5px 0px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportcol {
    display: inline-block;
    float: left;
    padding: 0 5px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportcols1 {
    width: 90px;
}

#settingstabs .setdatapanel .setreportcols2 {
    width: 180px;
}

#settingstabs .setdatapanel .setreportcols3 {
    width: 270px;
}

#settingstabs .setdatapanel .setreportcol.reportresetuseraudit {
    border-bottom: 0;
    cursor: pointer;
}

#settingstabs .setdatapanel .setreportpanel .setreportlabel {
    display: inline-block;
    width: 150px;
    clear: both;
    float: left;
    border-top: 1px dotted #aaa;
    padding: 2px 0;
}

#settingstabs .setdatapanel .setreportpanel .setreportinfo {
    display: inline-block;
    float: left;
    width: 80%;
    border-top: 1px dotted #aaa;
    padding: 2px 0;
}

#settingstabs .setdatapanel .setreportpanel .bad {
    padding-left: 20px;
    background: url(../images/icons/passbad.png) no-repeat left;
    color: #ff0000;
}

#settingstabs .setdatapanel .setreportpanel .ok {
    padding-left: 20px;
    background: url(../images/icons/passok.png) no-repeat left;
    color: #000000;
}

#settingstabs .setinnerlabel {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 80px;
    float: left;
    clear: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setinnerdata {
    min-height: 20px;
    width: 320px;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setinnerlabel2 {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 120px;
    float: left;
    clear: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setsubdata {
    width: 100%;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 5px;
}

.settingstab {
	min-height: 600px !important;
	overflow: auto;
}

.settingstab a {
    border-bottom: 1px dotted gray;
}

.setsubmit {
    float: right;
    margin: 5px 0px 10px 0px;
    text-align: right;
}

.setsubmit input[type=submit] {
}

#cfgsubmit {
	margin-top: 5px;
	padding: 4px 15px;
	font-size: 14px !important;
}

#settingstab .underline {
    border-bottom: 1px solid black;
}

.settingsactions {
    clear: both;
    border-bottom: 1px dotted #bbb;
    padding-bottom: 3px;
}

.settingsactions a {
    cursor: pointer;
    color: #0000ff !important;
}

.settingsactions a:hover {
    text-decoration: underline;
}

#issues {
    width: 80%;
    float: left;
}

.setissue {
    width: 99%;
    min-height: 14px;
    background-color: #ccccff;
    border: 1px dashed black;
    padding: 3px;
    margin-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
}

.ui-tabs-nav li img {
    vertical-align: top;
}

.settingsdescr {
    font-size: 0.9em;
    color: #555;
    clear: both;
}

/* ADMIN MENUS */

#adminmenu_atts {
    position: relative;
    border: 1px solid #888;
    padding: 5px;
    width: 99%;
    min-height: 150px;
}

#adminmenu_sample {
    position: relative;
    border: 1px solid #888;
    padding: 5px;
    margin-bottom: 10px;
    min-height: 400px;
    width: 99%;
    text-align: left;
}

#adminmenu_sample .ui-sortable-placeholder {
    border: 1px dotted #fff;
    height: 24px !important;
    visibility: visible !important;
    display: block;
}

#adminmenu_sample .adminmenu_addtop,
#adminmenu_sample .adminmenu_addsub {
    background-color: #fff;
    float: left;
    clear: both;
    height: 28px;
    width: 26px;
}

#adminmenu_sample .adminmenu_addtop a,
#adminmenu_sample .adminmenu_addsub a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/icons/add.png') no-repeat transparent 50% 50%;
}

#adminmenu_sample .adminmenu_addtop a span,
#adminmenu_sample .adminmenu_addsub a span {
    display: none;
}

#adminmenu_navigation {
    position: relative;
	height: 24px;
	float: left;
	margin: 0 auto;
	padding: 0;
	background-color: #555;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgba(0,0,0,.6);
    border-bottom: 1px solid #444;
	list-style-type: none outside none;
}

#adminmenu_navigation li {
    position: relative;
	display: block;
	float: left;
	top: 0px;
	height: 24px;
	border-left: 1px solid #888;
	border-right: 1px solid #333;
	margin-left: 1px;
	font-size: 14px;
	z-index: 9999;				/* allows submenu to appear */
	vertical-align: middle;
}

#adminmenu_navigation li > a.adminmenu_topelem {
	display: block;
	height: 16px;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	border: 0;
}

#adminmenu_navigation li:hover > a.adminmenu_topelem,
#adminmenu_navigation li > a.adminmenu_topelem:focus {
	color: #000;
	background-color: #eee;
}

#adminmenu_navigation li.chosen > a.adminmenu_topelem {
	font-weight: bold;
	color: #fff;
	background-color: #111;
	border-top: 2px solid #0000cc;
	padding-top: 2px;
}

#adminmenu_navigation li:hover > ul {
	display: block;
}

#adminmenu_subnavigation {
    position: absolute;
    top: 35px;
    left: 31px;
    list-style-type: none outside none;
    background-color: #eee;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=270, Color='#555555');
    z-index: 10000;
}

#adminmenu_subnavigation li {
    position: relative;
    display: block;
    float: none;
    min-width: 120px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    border: 0;
}

#adminmenu_subnavigation li a {
    display: inline-block;
    padding: 3px 10px;
    height: 16px !important;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
    color: #000 !important;
}

#adminmenu_subnavigation li:hover {
    background-color: #ccc;
}

#adminmenu_subnavigation li.chosen {
    background-color: #000;
}

#adminmenu_subnavigation li.chosen a {
    color: #fff !important;
    font-weight: bold;
}

#adminmenu_editor {
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    width: 80%;
    float: right;
    text-align: left;
    overflow: hidden;
}

#adminmenu_editor .setlabel {
    width: 30% !important;
}

#adminmenu_editor .setdata {
    width: 69% !important;
}

#adminmenu_editor .adminmenu_deltop,
#adminmenu_editor .adminmenu_delsub {
    color: #aa0000 !important;
    font-weight: bold;
}

/* WEBSITE MENUS */

#websitemenu_sample {
    position: relative;
    border: 1px solid #888;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: left;
    width: 99%;
    min-height: 400px;
    z-index: 1;
}

#websitemenu_connector {
    position: absolute;
    top: 45px;
    left: 366px;
    width: 35px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 5px;
    background-color: #fff;
    z-index: 1000;
}

#websitemenu_addnewbar {
    margin-left: 10px;
}

#websitemenu_addnewbar .wmb_addbar {
    background: url(../images/icons/add.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.websitemenubar {
    position: relative;
    left: 10px;
    width: 340px;
    min-height: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0px;
}

.websitemenubar_hidden {
    height: 15px !important;
    min-height: 15px !important;
    overflow: hidden;
}

.websitemenubar_title {
    position: relative;
    float: left;
    width: 280px;
    height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: #000;
}

.websitemenubar_title span {
    cursor: pointer;
    border-bottom: 1px dotted #888;
}

.websitemenubar_title span:hover {
    border-bottom: none;
    font-style: italic;
}

.websitemenubar_title .wmb_title {
    display: none;
}

.websitemenubar_controls {
    position: relative;
    float: right;
    width: 60px;
    height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.websitemenubar_title .wmb_hide {
    background: url(../images/icons/arrow-up.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.websitemenubar_title .wmb_show {
    background: url(../images/icons/arrow-dn.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.websitemenubar_controls .wmb_delete {
    background: url(../images/icons/close_16.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.websitemenubar_controls .wmb_add {
    background: url(../images/icons/add.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.websitemenubar ul.first {
    clear: both;
    padding-top: 10px
}

.websitemenubar ul.webmenu li {
    position: relative;
    margin-left: 20px;
    cursor: move;
}

.websitemenubar ul.webmenu li div {
    position: relative;
    padding: 2px;
    margin-top: 2px;
    border: 1px solid #706961;
    width: 200px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #efefef;
}

.websitemenubar ul.webmenu li div:hover {
    background-color: #aaa;
    color: #fff;
}

.websitemenubar .nestedsortable-placeholder {
    background-color: #eee;
    border: 1px dotted #888;
    width: 200px;
}

.websitemenubar .ui-nestedSortable-error {
    background: #ccc;
    color: #ff8888;
}

#websitemenu_editor {
    position: absolute;
    top: 30px;
    left: 400px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    width: 300px;
    min-height: 200px;
    z-index: 1;
}

#websitemenu_editor .setinnerlabel,
#websitemenu_editor .setinnerdata {
    position: relative;
    z-index: 2;
}

#websitemenu_editor_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 210px;
    border: 0;
    z-index: 9999;
    background: url("../images/interface-bg-fff-trx60.png") repeat transparent;
    opacity: 0.6;
}

#wme_heading_title {
    position: relative;
    width: 284px;
    float: left;
    font-family: inherit !important;
    font-size: 10pt !important;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: #0000ff;
    margin-bottom: 10px;
    padding: 2px 0px;
}

#wme_delete {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icons/close_16.png) no-repeat;
    padding: 2px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#websitemenu_editor .setinnerlabel {
    width: 100px;
}

#websitemenu_editor .websitemenu_editor_data {
    width: 200px !important;
}

#websitemenu_editor .websitemenu_editor_fields {
    width: 190px;
}

.webmenuitem_saved {
    float: right;
    right: -20px;
    display: none;
    width: 16px;
    height: 16px;
    background: url("../images/icons/checkmark.png") no-repeat;
}

/* PLUGINS */

.plugin_zonesel {
    cursor: pointer;
    display: inline-block;
}

.plugin_list {
}

.plugin_list_prob {
}

.plugin_row {
    min-height: 34px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.plugin_tile {
    width: 100px;
    height: 120px;
    font-size: 9pt;
    font-weight: normal;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    border: 1px dotted #ccc;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.plugin_tile img {
    width: 100px;
    height: 100px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 2px;
}

.plugin_tile a {
    text-decoration: none;
}

.plugin_leftside {
    width: 200px;
    clear: left;
    float: left;
    margin-right: 10px;
}

.plugin_actions {
    display: none;
}

.plugin_midside {
	width: 20px;
	float: left;
	margin-right: 3px;
}

.plugin_midside img {
	border: 1px solid black;
}

.plugin_rightside {
    width: 430px;
    float: left;
}

.plugin_info, .plugin_info_prob {
    display: none;
    width: 700px;
    border: 1px dotted gray;
    margin-top: 2px;
    padding: 4px;
    font-size: 9pt;
}

.notactive {
    text-decoration: line-through;
    color: #888;
}

/* LINKS */

#ht_www_data, #ht_img_data {
    display: block;
    border: 1px solid #888;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    height: 100px;
    color: #000;
    padding: 2px;
    overflow: auto;
}

#ht_seo_addrow, #ht_301_addrow {
	float: right;
	margin-bottom: 5px;
}

.ht_seo, .ht_301 {
	clear: both;
}

.ht_seo_from, .ht_seo_to, .ht_301_from, .ht_301_to {
	width: 300px;
}

.ht_toggle {
    position: relative;
    width: 50px;
    display: inline-block;
    border: 1px dotted black;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}

/* THEMES */

.colorpicker_button,
.colorpicker_swatch {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 15px;
    height: 16px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.colorpicker_reset {
    float: left;
    margin-left: 3px;
    cursor: pointer;
}

#colorpicker_curcolordiv {
    margin-bottom: 5px;
    margin-left: 3px;
    border: 1px solid black;
    width: 80px;
    height: 16px;
    background-color: #fff;
    float: left;
}

#colorpicker_hoverdiv,
#colorpicker_fieldcolor {
    margin-bottom: 5px;
    margin-left: 3px;
    border: 1px solid black;
    width: 105px;
    height: 16px;
    background-color: #fff;
    float: left;
}

#colorpicker_palettebox {
    height: 130px;
    overflow: auto;
    width: 100%;
    margin-left: 3px;
}

#colorpicker_closebutton {
    position: absolute;
    bottom: 5px;
    left: 40%;
}

#settingscolorpicker span {
    display: block;
    clear: left;
    float: left;
    width: 73px;
}

.active {
    border-style: double;
    border-width: 3px;
}

.disabled {
    display: none;
}

.nooverline {
    border-top: 0px !important;
}

.theme_row {
    min-height: 105px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.theme_tile {
    width: 100px;
    height: 120px;
    font-size: 9pt;
    font-weight: normal;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    border: 1px dotted #ccc;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.theme_tile img {
    width: 100px;
    height: 100px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 2px;
}

.theme_tile a {
    text-decoration: none;
}

.theme_leftside {
    width: 200px;
    clear: left;
    float: left;
    margin-right: 10px;
}

.theme_logo {
    border: 1px solid #bbb;
    padding: 2px;
    margin-bottom: 5px;
}

.theme_actions {
    display: none;
}

.theme_midside {
    width: 20px;
    float: left;
    margin-right: 3px;
}

.theme_midside img {
    border: 1px solid black;
}

.theme_rightside {
    width: 430px;
    float: left;
}

.theme_info {
    display: none;
    width: 400px;
    border: 1px dotted gray;
    margin-top: 2px;
    padding: 4px;
    font-size: 9pt;
}

/* USER CONTROL */

.user_row {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    clear: both;
}

.user_you {
    margin-left: -6px;
    border-left: 4px solid #3333ff;
    padding-left: 2px;
}

.user_leftside {
    width: 200px;
    clear: left;
    float: left;
    padding-right: 10px;
}

.user_name {
    font-weight: bold;
}

.user_actions {
    display: none;
}

.user_rightside {
    width: 480px;
    float: left;
    line-height: 1.8em;
}

.user_rightside span.label {
    width: 130px;
    display: inline-block;
}

.user_profile {
	border: 1px dotted black;
	padding: 5px;
	display: none;
    overflow: hidden;
}

.users_pass_strength {
    max-width: 80px;
    padding: 0 5px;
    line-height: 1.2em;
    display: inline-block;
    margin-right: 5px;
}

#ua_container {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
    margin-top: 10px;
}

#ua_upper_container {
    position: relative;
    height: 20px;
    overflow: hidden;
    margin-left: 22%;
    white-space: nowrap;
}

#ua_usertypes {
    position: relative;
    top: 0px;
    height: 100%;
    min-width: 800px;
    border: 0;
    padding: 0px 0.5%;
}
#ua_usertypes span {
	display: inline-block;
	width: 100px;
	float: left;
    text-align: center;
    font-weight: bold;
}

#ua_lower_container {
    position: relative;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
}

#ua_items {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    width: 22%;
    height: 2000px;
    padding: 0px 0.5%;
    text-align: left;
    margin-top: 1px;
}

#ua_items span {
    display: block;
	border-bottom: 1px dotted black;
	height: 13px;
    padding: 9px 0px 2px 0px;
}

#ua_items .ua_delete {
	background: url("../images/icons/close_16.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 16px;
	margin-left: 4px;
	margin-top: -4px;
	position: absolute;
	right: 15px;
	width: 16px;
}

#ua_values {
    position: absolute;
    top: 0;
    left: 22%;
    overflow: auto;
    height: 498px;
    width: 76.5%;
    border: 1px solid #888;
    background-color: #fff;
    padding: 0px 0.5%;
}

#ua_values div {
    min-width: 800px;
    height: 13px;
	border-bottom: 1px dotted black;
    padding: 9px 0px 2px 0px;
    overflow: hidden;
}

#ua_values span {
	display: inline-block;
	width: 100px;
	float: left;
    text-align: center;
}

#ua_values input[type=checkbox] {
    margin: 0px !important;
    padding: 0px !important;
}

.ua_value_group_title {
    background-color: #fefefe;
    height: 13px;
}

.ua_groups_reset {
    vertical-align: top;
    cursor: pointer;
}

/* INSTALLERS
--------------------------------------------------------------------------------------- */
.cfg_content {
	width: 500px;
	min-height: 100%;
	border: 1px solid #aaaaaa;
	padding: 5px;
    margin-bottom: 10px;
}

#cfgarea {
    color: #000000;
    height: auto;
    overflow: auto;
    padding: 10px;
    font-family: Arial, Helvetica, Verdana;
}

#cfgdiv ul li a:link, #cfgarea a:visited {
	color: #000000;
	text-decoration: none;
}

#cfgdiv div {
    min-height: 680px;
}

#cfgarea h3 {
    font-weight: bold;
    font-size: 12pt;
    color: #0000ff;
    padding-left: 15px;
}

#cfgarea h3 a {
    font-weight: bold;
}

.cfgblock {
    overflow: hidden;
    padding: 10px 0px 0px 15px;
}

.cfglabel {
    display: inline-block;
    height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 120px;
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding-top: 4px;
}

.cfgdata {
    display: inline-block;
    height: 20px;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 5px;
    padding-top: 1px;
}

.cfgnote {
    display: inline-block;
    height: 20px;
    font-size: 8pt;
    font-weight: normal;
    float: left;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 3px;
}
