@charset "utf-8";
/* -----------------------------------------
Title:			Global Style Sheet
Author: 		Chris Donalds
Updated: 		Apr 18, 2015
Updated By: 	Chris Donalds
--------------------------------------------
TABLE OF CONTENTS
--------------------------------------------
General:
--------------------------------------------
*/

#admLaunchpadContainer {
    position: relative;
    margin-top: 10px;
}

#admLaunchpadContainer .admLaunchpadItem {
    padding: 7px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.admLaunchpad-leftbar {
    border-left: 1px dotted #ccc;
}

#admlaunchpad_bar {
    display: none;
}

.adm_hover {
    border: 1px dashed white;
}
#adm_label {
    top: 0px;
    left: 0px;
    display: none;
    position: absolute;
    padding: 2px;
    border: 1px solid black;
    background-color: #fcefa1;
    font-family: Arial, helvetica, verdana;
    font-size: 9pt;
}