.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-group {
    position: relative;
    float: none;
    width: 300px;
}

.qq-upload-button {
    display: block; /* or inline-block */
    padding: 4px 5px;
    text-align: center;
    background: #3333cc;
    border: 1px solid #000;
    color: #fff;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    cursor: hand;
}

.qq-upload-button-hover {
    background: #3333ff;
}

.qq-upload-button-focus {
    outline: 1px dotted black;
}

.qq-upload-delete {
    display: block; /* or inline-block */
    padding: 4px 5px;
    text-align: center;
    background: #3333cc;
    border: 1px solid #000;
    color: #fff;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    cursor: hand;
}

.qq-upload-delete-hover {
    background: #3333ff;
}

.qq-upload-delete-focus {
    outline: 1px dotted black;
}

.qq-upload-drop-area {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height: 70px;
    z-index: 2;
    background: #FF9797;
    text-align: center;
    display: none !important;
}

.qq-upload-drop-area span {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
    display: block;
}

.qq-upload-drop-area-active {
    background: #aaa;
}

.qq-upload-img {
    border: 1px solid black;
    display: none;
}

.qq-upload-hoverbox {
	display: none;
	position: absolute;
    overflow: hidden;
    background-color: #ffffff;
	border: 1px solid #000000;
	z-index: 9000;
	-webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
}

.qq-upload-edit {
    /*display: none;*/
}

.qq-upload-cue {
    vertical-align: text-bottom;
}

.qq-upload-list {
    margin: 0px;
    padding: 0px;
    list-style: disc;
    float: left;
}

.qq-upload-list li {
    margin: 0px;
    padding: 0px;
    line-height: 15px;
    font-size: 12px;
    list-style: none outside none;
}

.qq-upload-file {
    margin-right: 7px;
    width: 220px;
    height: 15px;
    overflow: hidden;
}

.qq-upload-spinner {
    margin-right: 7px;
    float: left;
    display: inline-block;
    background: url("../images/loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size {
    margin-right: 7px;
    float: left;
    height: 15px;
    font-size: 11px;
    display: inline;
}

.qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
    float: left;
    height: 15px;
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none !important;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.qq-upload-break {
    clear: both;
    height: 5px;
}
