.fupl-container {
    position: relative;
    width: 100%;
    height: auto;
}

.fupl-group {
    position: relative;
    float: none;
    width: 300px;
}

.fupl-button {
    position: relative;
    display: block; /* or inline-block */
    padding: 2px 6px;
    text-align: center;
    background: #ddd;
    border: 1px solid #706961;
    border-radius: 6px 6px 6px 6px;
    color: #000;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    cursor: hand;
    overflow: hidden;
}

.fupl-button-hover {
    border: 1px solid #000;
    background: #888;
    color: #fff;
}

.fupl-button-focus {
    outline: 1px dotted black;
}

.fupl-delete {
    display: block; /* or inline-block */
    padding: 2px 6px;
    text-align: center;
    background: #ddd;
    border: 1px solid #706961;
    border-radius: 6px 6px 6px 6px;
    color: #000;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    cursor: hand;
}

.fupl-delete-hover {
    border: 1px solid #000;
    background: #888;
    color: #fff;
}

.fupl-delete-focus {
    outline: 1px dotted black;
}

.fupl-drop-area {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4px 0px;
    min-height: 70px;
    z-index: 2;
    background: #fff;
    border: 2px dashed #888;
    text-align: center;
    display: none !important;
}

.fupl-drop-area span {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 12px;
    display: block;
}

.fupl-drop-area-active {
    background: #aaa;
}

.fupl-img {
    border: 1px solid black;
    display: none;
}

.fupl-hoverbox {
	display: none;
	position: absolute;
    overflow: hidden;
    background-color: #ffffff;
	border: 1px solid #000000;
	z-index: 9000;
	-webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
}

.fupl-edit {
    /*display: none;*/
}

.fupl-cue {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.fupl-list {
    margin: 0px;
    padding: 0px;
    list-style: disc;
    float: left;
}

.fupl-list li {
    margin: 0px;
    padding: 0px;
    line-height: 15px;
    font-size: 12px;
    list-style: none outside none;
}

.fupl-file {
    margin-right: 7px;
    width: 220px;
    height: 15px;
    overflow: hidden;
}

.fupl-spinner {
    margin-right: 7px;
    float: left;
    display: inline-block;
    background: url("../images/upl_loading.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.fupl-size {
    margin-right: 7px;
    float: left;
    height: 15px;
    font-size: 11px;
    display: inline;
}

.fupl-cancel, .fupl-failed-text {
    margin-right: 7px;
    float: left;
    height: 15px;
    font-size: 11px;
}

.fupl-failed-text {
    display: none !important;
}

.fupl-fail .fupl-failed-text {
    display: inline;
}

.fupl-break {
    clear: both;
    height: 5px;
}
