#upload_dropshadow {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 256px;
	height: 70px;
	float: left;
	clear: left;
	background: url(images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
	padding: 0px;
	visibility: hidden;
}

#process_box {
	position: absolute;
	width: 248px;
	height: 62px;
	bottom: 6px;
	right: 6px;
	border: 2px solid #cc0000;
	background-color: #fff;
	vertical-align: top;
	text-align: center;
	padding: 3px;
	margin: 0px 0px 0px 0px;
}

#process_box {
	/* IE5 hack */
	\margin: 0px 0px -3px 0px;
	ma\rgin: 0px 0px 0px 0px;
}

#process_box h2 {
	background-color: #ddd;
	padding: 2px 10px;
	margin-bottom: 0.5em;
}

#process_box p {
	font-size: 12px;
	margin-bottom: 8px;
	padding-left: 8px;
}

#process_box img {
	position: absolute;
	left: 20px;
	bottom: 5px;
}
