/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme      Genesis 4
 *  @subset     Main CSS
 *  ----------------------------------------------------
 *  @modified   May 2012
 *  @version    4.0.0
 *  @author     Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* RESET
-------------------------------------------------------------------------------------- */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, thead {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}

html {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

*, *:before, *:after {
    /*-webkit-box-sizing: inherit;*/
    /*-moz-box-sizing: inherit;*/
    /*box-sizing: inherit;*/
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 10px;
    font-weight: bold;
}

h4 {
    font-size: 8px;
}

/* GLOBAL
-------------------------------------------------------------------------------------- */
/* Colors */

.bold {
    font-weight: bold !important;
}

.theme_bkgcolor1 {
    background-color: #ccccff;
}

.theme_bkgcolor2 {
    background-color: #0000aa;
}

.theme_bkgcolor3 {
    background-color: #000066;
}

.green {
    color: #00aa00 !important;
}

.red {
    color: #ff0000 !important;
}

.gray {
    color: #aaaaaa !important;
}

.blue {
    color: #0000aa !important;
}

.redtext {
    color: #b74017;
}

.reqd {
    color: #ff0000;
}

.smallfont {
    font-size: 9pt;
}

.smallerfont {
    font-size: 85% !important;
}

.biggerfont {
    font-size: 120%;
}

/* Buttons */

.bluebutton {
    background-color: #0000cc !important;
    color: #000000;
}

.redbutton, .state1 {
    background-color: #cc0000 !important;
    color: #ffffff;
}

.orangebutton, .state2 {
    background-color: #ee8800 !important;
    color: #000000;
}

.goldbutton, .state3 {
    background-color: #eecc00 !important;
    color: #000000;
}

.greenbutton, .state4 {
    background-color: #00aa00 !important;
    color: #ffffff;
}

.tealbutton, .state5 {
    background-color: #00aaaa !important;
    color: #ffffff;
}

.graybutton {
    background-color: #eeeeee !important;
    color: #000;
}

/* Text */

.greytext a {
    color: #666;
}

.greytext a:visited {
    color: #666;
}

/* Fields */

.smallfldsize {
    width: 75px;
}

.normalfldsize, .midfldsize {
    width: 150px;
}

.widefldsize, .bigfldsize {
    width: 300px;
}

.fullfldsize {
    width: 560px;
}

.fullwidth {
    width: 98% !important;
}

.bigfldtext {
    font-size: 125%;
}

/* Box */

.highlight-row, .even {
    background-color: #efefef !important;
}

.dark-highlight-row, .odd {
    background-color: #cdcdcd !important;
}

.dottedborder {
    border: 1px dotted #888;
}

.dottedborder-top {
    border-top: 1px dotted #888;
}

.dottedborder-bottom {
    border-bottom: 1px dotted #888;
}

.curve2 {
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.curve4 {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.curve6 {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.tophang {
    position: absolute;
    top: -7px;
}

.righthang {
    position: absolute;
    right: -5px;
}

.lefthang {
    position: absolute;
    left: -5px;
}

.bottomhang {
    position: absolute;
    bottom: -7px;
}

.vertical-grade {
    background: #6c6e74;
    background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
    background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
}

/* Cursors */

.clickable {
    cursor: pointer;
}

.moveable {
    cursor: move;
}

.wait {
    cursor: wait;
}

img[align=right] {
    margin-left: 10px;
    margin-bottom: 10px;
}

img[align=left] {
    margin-right: 10px;
    margin-bottom: 10px;
}

input {
    color: #000000;
    border: 1px solid #706961;
    font-size: 13px
}

input[type=button], input[type=submit] {
    background-color: #eee;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

input[type=button]:hover, input[type=submit]:hover {
    background-color: #8888bb;
    color: #fff;
    border: 1px solid #000;
}

.button {
    color: #000000;
    background-color: #fff;
    border: 1px solid #706961;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px 7px;
    cursor: pointer;
}

.button:hover {
    background-color: #8888bb;
    color: #fff;
    border: 1px solid #000;
}

input[type=checkbox] {
    border: 0px none;
    width: auto !important;
}

input[type=radio] {
    border: 0px none;
    width: auto !important;
}

textarea {
    color: #000000;
    border: 1px solid #706961;
    font-size: 13px;
}

/* MEDIA-QUERIES
-------------------------------------------------------------------------------------- */
/* Used to fix Firefox float error. A shorter method = overflow: hidden */
.clear, .clearfix, .row {
    clear: both;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.row {
    overflow: hidden;
}

.hideit, .hidden {
    display: none !important;
}

.showit, .shown {
    display: block !important;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.center {
    text-align: center;
}

.left-padding {
    padding-left: 5px;
}

.right-padding {
    padding-right: 10px;
}

.top-padding {
    padding-top: 5px;
}

.bottom-padding {
    padding-bottom: 5px;
}

.left-margin {
    margin-left: 5px;
}

.right-margin {
    margin-right: 10px;
}

.top-margin {
    margin-top: 5px;
}

.bottom-margin {
    margin-bottom: 5px;
}

.gap-5 {
    padding: 5px 5px 5px 0;
}

.gap-10 {
    padding: 10px 10px 10px 0;
}

.left-gutter {
    margin-left: 5px;
}

.right-gutter {
    margin-right: 5px;
}

.col-lg-12 { width: 100%; float: left; }
.col-lg-11 { width: 92%; float: left; }
.col-lg-10 { width: 83%; float: left; }
.col-lg-9  { width: 75%; float: left; }
.col-lg-8  { width: 66%; float: left; }
.col-lg-7  { width: 58%; float: left; }
.col-lg-6  { width: 50%; float: left; }
.col-lg-5  { width: 42%; float: left; }
.col-lg-4  { width: 33%; float: left; }
.col-lg-3  { width: 25%; float: left; }
.col-lg-2  { width: 16%; float: left; }
.col-lg-1  { width: 8%; float: left; }

.col-offset-left-12 { margin-left: 24%; }
.col-offset-left-11 { margin-left: 22%; }
.col-offset-left-10 { margin-left: 20%; }
.col-offset-left-9  { margin-left: 18%; }
.col-offset-left-8  { margin-left: 16%; }
.col-offset-left-7  { margin-left: 14%; }
.col-offset-left-6  { margin-left: 12%; }
.col-offset-left-5  { margin-left: 10%; }
.col-offset-left-4  { margin-left: 8%; }
.col-offset-left-3  { margin-left: 6%; }
.col-offset-left-2  { margin-left: 4%; }
.col-offset-left-1  { margin-left: 2%; }

.col-offset-right-12 { margin-right: 24%; }
.col-offset-right-11 { margin-right: 22%; }
.col-offset-right-10 { margin-right: 20%; }
.col-offset-right-9  { margin-right: 18%; }
.col-offset-right-8  { margin-right: 16%; }
.col-offset-right-7  { margin-right: 14%; }
.col-offset-right-6  { margin-right: 12%; }
.col-offset-right-5  { margin-right: 10%; }
.col-offset-right-4  { margin-right: 8%; }
.col-offset-right-3  { margin-right: 6%; }
.col-offset-right-2  { margin-right: 4%; }
.col-offset-right-1  { margin-right: 2%; }

/* BODY
-------------------------------------------------------------------------------------- */
body {
    background-color: #e0e0e0;
    color: #000000;
    font: 13px "Open Sans", Verdana, Geneva, sans-serif;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

#hovertip_div,
.help_div {
    display: none;
    position: absolute;
    z-index: 9999;
    border: 1px solid black;
    background: #efefef;
    padding: 2px;
    max-width: 280px;
    box-shadow: 4px 4px 4px #555;
    -moz-shadow: 4px 4px 4px #555;
    -webkit-box-shadow: 4px 4px 4px #555;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=180, Color='#888888')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=180, Color='#cccccc'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color='#cccccc');
}

.help_div .close {
    display: block;
    height: 16px;
    width: 16px;
    float: right;
    background: url("../images/icons/close_16.png") no-repeat scroll 0 0;
}

.hovertip {
    cursor: help;
    width: auto !important;
    display: inline !important;
}

.hovertip:hover {
    border-bottom: 0px;
}

/* HEADER
--------------------------------------------------------------------------------------- */
#header {
    width: 100%;
    margin: auto;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 14pt;
    background-color: #111144;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.8);
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,.8);
    box-shadow: 0 4px 8px rgba(0,0,0,.8);
    z-index: 9999;
}

#sitetitle {
    padding: 5px 0 5px 5px;
}

#sitetitle h1 {
    color: #fff;
    font-weight: normal !important;
}

/* MAIN NAVIGATION -- NEW FOR VERSION 4
-------------------------------------------------------------------------------------- */
#navigation {
    background-color: #555;
    border-bottom: 1px solid #444;
    clear: both;
    height: 27px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    list-style-type: none outside none;
}

#navigation .navmenu {
    display: block;
    float: left;
    font-size: 14px;
    height: 25px;
    margin-top: 2px;
    position: relative;
    z-index: 9999;
}

#navigation > .navmenu > a {
    display: block;
    height: 22px;
    padding: 2px 10px;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    border: 0;
    border-radius: 3px 3px 0 0;
}

#navigation > .navmenu:hover {
}

#navigation > .navmenu:hover > a,
#navigation > .navmenu > a:focus {
    background-color: #eee;
    color: #000;
}

#navigation > .chosen > a {
    font-weight: bold;
    color: #fff;
    background-color: #888;
    border-bottom: 2px solid #000088;
}

#navigation .navmenu:hover > ul {
    display: block;
    top: 26px;
}

/* SUB-NAVIGATION -- NEW FOR VERSION 5
-------------------------------------------------------------------------------------- */
.subnavigation {
    display: none;
    background-color: #ccc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
    left: 0px;
    min-width: 150px;
    position: absolute;
    top: 40px;
    list-style-type: none outside none;
    z-index: 10000;

    transition: top 0.3s ease-in;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.6);
    box-shadow: 0 2px 3px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=270, Color='#555555');
}

.subnavigation .navmenu {
    float: none;
    font-weight: normal;
    margin-top: 0px !important;
    padding: 1px 0px;
    border: 0;
    width: 100%;
}

.subnavigation .navmenu a {
    display: inline-block;
    padding: 1px 10px 0px 10px;
    margin-top: -1px;
    height: 26px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    width: 140px;
}

.subnavigation .navmenu:hover > a {
    background-color: #111144;
    color: #fff;
}

/* LOGIN
--------------------------------------------------------------------------------------- */
body.login {
    background: #f0efea;
}

#content-wrapper.login-wrap {
    background: none;
    height: calc(100% - 70px);
    margin: 0 !important;
}

#admloginbox {
    position: relative;
    margin: -210px 0 20px -215px;
    left: 50%;
    top: 50%;
    width: 430px;
    border: 1px solid #bdbec0;
    font-size: 9pt;
    background: #fff 50% 20px no-repeat;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    box-shadow: 0 4px 12px rgba(0,0,0,.6);
    z-index: 1000;
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=90, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=270, Color='#bbbbbb');

}

#gotowebsite_loginbtn {
    position: absolute;
    top: 25px;
    left: 20px;
    width: auto;
    padding: 3px;
    border: 1px solid #bdbec0;
    background: #E2E2DA;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 4px #ccc;
    z-index: 999;
}

#gotowebsite_loginbtn a {
    font-size: 10pt;
    text-decoration: none;
    color: #000000;
}

label {
    font-weight: bold;
}

#admloginuser {
    position: relative;
    float: left;
    width: 190px;
}

#admloginpass {
    position: relative;
    float: right;
    width: 190px;
}

#admuser,
#admpwd,
#admpwdconfirm {
    position: relative;
    width: 175px;
    margin-top: 2px;
    border: 1px solid #888;
    padding: 6px 6px;
}

.admloginbox_opts {
    margin-top: 5px;
}

#admloginsocial {
    position: relative;
    clear: both;
    width: 390px;
    margin-top: 15px;
}

#admsubmit,
#admrequest {
    background: #002288;
    color: #fff;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 7px 13px;
    border: none;
    float: right;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#admsubmit:hover,
#admrequest:hover {
    background: #0033aa;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    -moz-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
}

#admsubmit:active,
#admrequest:active {
    background: #1166aa;
}

.login_links {
    display: none;
}

#admloginbox a, a:visited {
    text-decoration: underline;
    font-weight: normal;
}

#admloginbox h2 {
    font-size: 14px;
    color: #1a518c;
    font-weight: bold;
    width: 426px;
    text-align: center;
    border-bottom: 1px solid #bdbec0;
    padding: 10px 2px 8px 2px;
    background: #e2e2da;
    margin: 0px;
}

#admloginbox h2.topmargin {
    margin-top: 160px;
}

#admlogininnerbox {
    position: relative;
    background-color: #fff;
    width: auto;
    padding: 15px;
    overflow: hidden;
    min-height: 130px;
    font-size: 12px;
}

#admlogininnerbox {
    position: relative;
    background-color: #fff;
    width: auto;
    overflow: hidden;
    min-height: 130px;
    font-size: 12px;
}

.admerror {
    min-height: 0px;
    padding: 3px 5px;
    background-color: #ffeeee;
    border: 1px solid #aaa;
    display: none;
}

.admerror span {
    color: red;
    font-weight: bolder;
}

#admhint {
    border: 1px dotted black;
    padding: 5px;
    margin: 5px 0;
    display: none;
}

#admloginbox .fsec {
    display: none;
}

/* TOOLBAR
--------------------------------------------------------------------------------------- */
#admtoolbar {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 0px;
}

#admtoolbar div {
    position: relative;
    margin-right: 5px;
    padding: 2px;
    float: left;
    border: 0px;
}

#admtoolbar div a img {

}

#admtoolbar .highlighttool {
    border: 1px solid #888;
    border-radius: 2px 2px 2px 2px;
    -moz-radius: 2px 2px 2px 2px;
    -webkit-radius: 2px 2px 2px 2px;
}

#admPopupBalloon {
    display: none;
    position: fixed;
    top: 35px;
    right: 15px;
    width: 280px;
    min-height: 150px;
    padding-top: 10px;
    z-index: 10000;
}

.inner_a {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 5px 10px 5px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    -moz-box-shadow: 0 6px 6px rgba(0,0,0,.6);
    box-shadow: 0 6px 6px rgba(0,0,0,.6);
    /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#555555'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=270, Color='#555555');
    z-index: 10000;
    overflow: hidden;
}

.inner_b {
    position: absolute;
    top: 0px;
    right: 5px;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
}

#admusertool {
    margin-left: 20px;
    cursor: pointer;
}

.admtoolbaricon a {
    display: inline-block;
    width: 16px;
    height: 20px;
    background-repeat: no-repeat !important;
    background-position: 0 0 !important;
    color: #fff !important;
    text-decoration: none;
    font-size: 0.9em;
}

.admtoolbaricon a:hover {
    text-shadow: 0px 2px 9px #fff;
}

/* ERRORS, MESSAGE BOXES, THROBBERS
--------------------------------------------------------------------------------------- */
.display_msg {
    width: 99%;
    color: #000000;
    background-color: #CCCCFF;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

#display_core_msg {
    display: none;
    width: 99%;
    color: #000000;
    background-color: #FFAAAA;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

#display_runtime_msg {
    display: none;
    width: 99%;
    color: #000000;
    background-color: #FFEEAA;
    border: 1px dashed black;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

#display_runtime_msg ul li a,
.display_msg ul li a {
    float: right;
    margin: 2px 2px 0 0;
    text-decoration: none;
}

#display_throbber {
    display: none;
    background: url("../../../_core/images/general/loading.gif") no-repeat scroll 2px center #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    height: 16px;
    min-width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3px 3px 3px 20px;
    margin-top: -8px;
    z-index: 9999;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

#display_throbber img {
    vertical-align: middle;
}

/* TABS AND ACCORDIANS
--------------------------------------------------------------------------------------- */
.expandable h2 {
    border-bottom: 1px dotted #bbb;
    margin-bottom: 10px;
    padding: 2px 2px 4px;
}

.expand-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 6px !important;
}

.clickvars a {
    display: inline-block;
    font-weight: bold;
    padding-top: 2px;
}

.clickvars select {
    display: none;
    margin-left: 5px;
}

/* CONTENT
--------------------------------------------------------------------------------------- */
#content-wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100% - 70px);
    position: relative;
    margin: 0px auto;
    padding-top: 70px;
    background-color: #ffffff;
    -webkit-border-radius: 15px 15px 15px 15px;
       -moz-border-radius: 15px 15px 15px 15px;
            border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

#contentarea {
    position: relative;
    width: 100%;
    color: #000;
    padding: 10px 0 50px 10px;
}

#contentarea a:link, #contentarea a:visited  {
    color: #000;
    text-decoration: none;
}

#contentarea a:hover {
    color: #000;
    text-decoration: underline;
}

#contentarea h1 {
    font-size: 24px;
    height: 54px;
    width: 364px;
}

#contentarea h1 span {
    display: none;
}

#contentarea h3 a {
    font-weight: bold !important;
}

#title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

#titlecenter {
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 4em 0 1em 0;
}

#prevbuttonbox {
    position: absolute;
    right: 10px;
    top: 10px;
}

#bottomwrapper {
    width: 790px;
    height: 240px;
    margin: 0px;
    position: absolute;
    top: 390px;
    left: 0px;
    z-index: 99;
    color: #5a4630;
}

#bottomwrapper a:link, #contentarea a:visited  {
    color: #000;
    text-decoration: none;
}

#bottomwrapper a:hover {
    color: #0000ff;
    text-decoration: underline;
}

#add_content {
    width: 98%;
    min-height: 100%;
    border: 1px solid #aaaaaa;
    padding: 5px;
    overflow: hidden;
}

#edit_content {
    width: 98%;
    min-height: 100%;
    padding: 5px;
    overflow: hidden;
}

.editor_button {

}

.editor_buttonbox {
    border: 0 solid #888888;
    color: #fff;
    min-width: 120px;
    padding: 0 0 1px;
    position: fixed;
    right: 5px;
    text-align: right;
    top: 37px;
    z-index: 9999;
}

.editor_buttonbox input {
    margin: 3px 0;
}

.splitbutton {
    border-radius: 6px 0 0 6px !important;
}

.editor_button_more {
    border: 1px solid #706961;
    border-radius: 0 6px 6px 0 !important;
    display: inline-block;
    height: 15px;
    width: 14px;
    margin: 0px 3px 0 0px;
    background-color: #eee;
    padding: 4px 2px 0 0px;
    text-decoration: none !important;
}

.editor_button_more:hover {
    border: 1px solid #000;
    background-color: #8888bb;
    color: #fff;
    margin: 0px 3px 0 0px;
    padding: 4px 2px 0 0px;
    text-decoration: none !important;
}

#overlay {
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.3);
}

/* LIST PAGES
--------------------------------------------------------------------------------------- */
#contentarea .listtable {
    padding: 0;
    margin: 0.5em 0 0 0;
    width: 100%;
    border: 0;
}

#contentarea .listheader {
    overflow: hidden;
    min-height: 2.5em;
    border: 1px solid #aaa;
    padding: 2px;
    margin: 5px 0px;
    background-color: #e0e0e0;
    text-align: left;
    font-weight: bold;
}

#listrow-check-div {
    border: 1px solid #888;
    padding: 1px;
    margin-right: 2px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 20px;
    height: 20px;
    float: left;
}

#listrow-bulk-actions {
    position: absolute;
    display: none;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
    z-index: 999;
}

#listrow-bulk-actions > a {
    display: block;
    font-weight: normal !important;
}

#listrow-bulk-actions-adv {
    display: none;
    background-color: #fff;
    border: 1px solid #aaa;
    margin-left: 100px;
    margin-top: -100px;
    min-height: 200px;
    padding: 10px 10px 15px;
    position: absolute;
    width: 75%;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
    z-index: 1000;
}

#listrow-bulk-actions-adv p,
#listrow-bulk-actions-adv span {
    font-weight: normal !important;
}

#listrow-bulk-actions-adv label {
    clear: both;
}

#contentarea .listheader-cell {
    text-align: left;
    float: left;
    padding-left: 2px;
    vertical-align: top;
}

#contentarea .listheader-cell a,
#contentarea .listheader-cell a:visited,
#contentarea .listheader-cell a:hover {
    font-weight: bold;
}

#contentarea .listrow {
    position: relative;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    padding: 2px;
    min-height: 3em;
    font-weight: normal;
}

#contentarea .listrow-highlight {
    background-color: #efefef !important;
}

#contentarea .listrow-hover {
    background-color: #ddddff !important;
}

#contentarea .listrow-cell {
    min-height: 1.7em;
    vertical-align: top;
    float: left;
    padding-left: 2px;
    overflow: auto;
}

#contentarea .listrow-cell a,
#contentarea .listrow-cell a:visited,
#contentarea .listrow-cell a:hover {
    font-weight: normal;
}

#contentarea .list-actions {
    position: absolute;
    clear: both;
    display: none;
    float: left;
    bottom: 2px;
    left: 50px;
}

.listcol-sort {
    vertical-align: bottom;
}

/* EDIT PAGES
--------------------------------------------------------------------------------------- */
#contentarea .edittable {
    padding: 0;
    margin: 0.5em 0 0 0;
    width: 100%;
    border: 0;
    padding-left: 2px;
    overflow: hidden;
}

#contentarea .editdiv {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 3px;
    clear: both;
    margin-top: 12px;
    /*overflow: hidden;*/
    padding: 4px;
}

#contentarea .expandable {
    overflow: hidden;
}

#contentarea .editdiv p {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

#contentarea .editlabel {
    clear: both;
    font-size: 12px;
    font-weight: bold;
    margin-right: 7px;
    margin-top: 0.5em;
    min-width: 120px;
    padding: 7px 3px 3px;
    vertical-align: top;
}

#contentarea .editlabel.col-2 {
    background-color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 10px;
    width: 99%;
}

#contentarea .editfield {
    margin: 0.5em 0.5em 0 1em;
    vertical-align: top;
}

#contentarea .edithelp {
    display: block;
    margin-top: 5px;
    font-size: 90%;
}

#contentarea .editinnerlabel {
    width: 100px;
    display: block;
    float: left;
}

#contentarea .listimage {
    border: 1px solid #ccc;
}

#contentarea .listimage img {
    margin: 3px;
}

#contentarea .sectionheader {
    position: relative;
    width: 495px;
    height: 18px;
    margin-top: 0em;
    padding-top: 0em;
    background-color: #bbb;
    color: #000088;
}

#contentarea .sectionheader .on {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 18px;
    width: 28px;
    background: url(../../../_core/images/icons/onoff.png) no-repeat 0px 0px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .off {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 18px;
    width: 28px;
    background: url(../../../_core/images/icons/onoff.png) no-repeat 0px -17px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .min {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../../../_core/images/icons/minimize.png) no-repeat 0px 0px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .max {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../../../_core/images/icons/minimize.png) no-repeat 0px -17px;
    outline: none;
    float: left;
}

#contentarea .sectionheader .null {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 18px;
    width: 28px;
    background: url(../../../_core/images/icons/minimize.png) no-repeat 0px -34px;
    outline: none;
    float: left;
}

.prev_page_form {
    float: left;
}

.bluebox {
    border: 2px solid #8888ff;
    padding: 2px;
}

.redbox {
    border: 2px solid #ff8888;
    padding: 2px;
}

.greenbox {
    border: 2px solid #88ff88;
    padding: 2px;
}

/* SEARCH TOOLS
--------------------------------------------------------------------------------------- */
#search_header {
    position: relative;
    margin: 10px 0 0 0;
    padding: 2px;
    min-height: 14px;
    background-color: #aaaaaa;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border: 1px ridge #777;
}

#search_header #search_content_toggle {
    float: right;
    border-left: threedshadow groove 2px;
    width: 16px;
    height: 16px;
    background: url(../../../_core/images/general/arrow-toggle-black.png) bottom left;
    cursor: pointer;
}

#search_content {
    min-height: 45px;
    padding: 5px 2px;
    margin: 0;
    color: #000000;
    background-color: #e0e0e0;
    border: 1px ridge #aaaaaa;
}

.search_toggle_closed {
    display: none;
}

.search_leftdiv {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 5px;
    clear: both;
}

.search_rightdiv {
    float: left;
    width: 72%;
    text-align: left;
    padding-left: 5px;
}

.search_rightdiv input {
    font-size: 9pt;
}

#search_buttons {
    clear: both;
    width: 95%;
    text-align: left;
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-left: 160px;
}

/* PAGINATION
--------------------------------------------------------------------------------------- */
.page_current {
    font-size: 125%;
    font-weight: bold;
}

.paging_content {
    min-height: 20px;
    padding: 5px 2px;
    margin-top: 0.5em;
    color: #000000;
    background-color: #e0e0e0;
    border: 1px ridge #aaaaaa;
}

.paging_leftdiv {
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 5px;
}

.paging_rightdiv {
    float: right;
    text-align: right;
    padding: 0 20px 0 5px;
}

.paging_rightdiv a, .paging_rightdiv a:hover, .paging_rightdiv a:visited {
    padding: 0;
    margin: 0;
}

#paging_recbuttons {
    clear: both;
    width: 100%;
    text-align: left;
    padding: 5px 0 0 10px;
    margin-right: 0;
}

/* INSTRUCTIONS AND ASSISTANCE
--------------------------------------------------------------------------------------- */
#instruct_header {
    position: relative;
    margin: 10px 0 0 0;
    padding: 2px;
    width: 776px;
    min-height: 20px;
    background-color: #aaaaaa;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#instruct_content {
    min-height: 45px;
    width: 774px;
    padding: 5px 2px;
    margin: 10px 0 0 0;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

/* STATISTICS BOX, UPDATE OPTIONS
--------------------------------------------------------------------------------------- */
#update_options, #stats_content, #info_content {
    width: 100%;
    margin: 3px 0 0 0;
    padding: 5px 15px;
    clear: left;
    display: none;
    overflow: hidden;
    color: #000;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 340px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.pushdown {
    margin-top: 30px;
}

#update_options .label, #stats_content .label, #info_content .label {
    font-weight: normal;
    width: 35%;
    margin-top: 0.8em;
    clear: left;
    float: left;
    text-align: left;
}

#update_options .item, #stats_content .item, #info_content .item {
    font-weight: normal;
    width: 64%;
    margin-top: 0.8em;
    float: left;
}

#update_options .date_published {
    display: block;
}

#update_options input[type=text] {
    width: 72px;
}

.content_buttons {
    width: 100%;
    text-align: center;
    margin: 1em auto;
    padding-top: 1em;
}

.content_buttons p {
    line-height: 50%;
}

.selectmenu {
    width: 340px;
}

/* FOOTER
--------------------------------------------------------------------------------------- */
.adm_footer {
    background: none repeat scroll 0 0 #bbbbff;
}

.adm_footer .alignleft {
    margin-left: 10px;
}

.adm_footer .alignright {
    margin-right: 10px;
}

.adm_footer a:link, a:visited {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.adm_footer a:hover {
    color: #000088;
    text-decoration: underline;
}

.adm_footer .rss {
    position: relative;
    bottom: -3px;
}

.adm_footer .copyright {
    text-decoration: none;
}

/* HELP
--------------------------------------------------------------------------------------- */
#help {
    font-weight: bold;
    font-size: 13pt;
    color: #000;
}

#help_instructions {
    min-height: 370px;
}

#help_about {
    text-align: center;
    padding-top: 10px;
    min-height: 330px;
}

#help a, a:visited {
    text-decoration: none;
}

.helplist {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 20px;
}

.helplist li {
    padding-bottom: 0.5em;
}

.browser_logo {
    display: block;
    height: 34px;
    width: 38px;
    background: url(../../../_core/images/general/browser_logos.png) no-repeat;
}

/* PAGES
-------------------------------------------------------------------------------------- */
.page-list {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    display: block;
}

.clear-element {
    clear: both;
}

.page-item > div {
    padding-left: 0px;
    background: #f8f8f8;
    margin: 0.25em 0 0 0;
}

.element-left {
    text-align: left;
}

.sort-handle {
    cursor: move;
}

.helper {
    border: 2px dashed #777777;
}

.current-nesting {
    background-color: #8888ff;
    color: #000;
}

.element-bold {
    color: red;
    font-weight: bold;
}

.dyntree-buttons {
    display: none;
}

/* ORGANIZER (c)
--------------------------------------------------------------------------------------- */
#organizepanel {
    display: none;
}

#organize {
    position: relative;
    border: 2px solid #bbb;
    padding: 5px;
    min-height: 100px;
    height: auto;
    width: 98%;
    margin-bottom: 10px;
    cursor: pointer;
    cursor: move;
    background-color: #fff;
    overflow: visible;
}

#organize li {
    padding: 3px;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: block;
    overflow: hidden;
}

#organize li a {
    display: block;
    cursor: pointer;
    cursor: move;
}

/* SEND MESSAGE
--------------------------------------------------------------------------------------- */
.sendmsg_label {
    clear: both;
    float: left;
    font-weight: bold;
    font-size: 10pt;
    width: 100px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.sendmsg_text {
    float: left;
    margin-bottom: 5px;
}

/* MISC
--------------------------------------------------------------------------------------- */
.passok {
    display: none;
}

.passbad {
    display: none;
}

.cpassok {
    display: none;
}

.cpassbad {
    display: none;
}

._button {
    background: #004488;
    color: #fff;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 7px 13px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

._button:hover {
    background: #1166aa;
}

._button:active {
    background: #1166aa;
}

/* DYNDIV (c)
--------------------------------------------------------------------------------------- */
#dyncontainer {
    position: relative;
    overflow: auto;
    min-height: 20px;
    width: 500px;
}

.dynheader {
    position: relative;
    height: 1.5em;
    border: 1px solid black;
    padding: 5px;
    width: 438px;
    margin-bottom: 0;
    background-color: #ccccff;
    font-weight: bold;
}

.dyn {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    width: 450px;
    margin-bottom: 10px;
    cursor: pointer;
    cursor: move;
    background-color: #fff;
    overflow: visible;
    vertical-align: top;
}

.dyn .dynlabel {
    width: 75px;
    display: block;
    float: left;
}

.dyn_nocursor {
    cursor: default;
}

.dynedit {
    display: none;
    border: 1px solid #888;
    padding: 2px;
    margin-top: 5px;
}

.dynedit p {
    padding-top: 3px;
}

.dynbuttons {
    position: absolute;
    right: 5px;
    top: 5px;
    vertical-align: top;
    text-align: right;
}

.dyna {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    width: 435px;
    margin-top: 10px;
    background-color: #ddd;
}

/* DYNTREE (c)
--------------------------------------------------------------------------------------- */
.dyntree-container {
    border: 1px solid #bbb;
    padding: 5px;
    width: 100%;
    min-height: 200px;
    height: auto;
    margin: 0;
    font-size: 10px;
    background: white;
    overflow: visible;
}

/* FLOATING DIVS
--------------------------------------------------------------------------------------- */
.box {
    display: none;
    position: absolute;
    width: 300px;
    min-height: 200px;
    overflow: hidden;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #000000;
    z-index: 9000;
    -webkit-box-shadow: 0 4px 12px #888;
    -moz-box-shadow: 0 4px 12px #888;
    box-shadow: 0 4px 12px #888;
}

.small-box {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: 0 4px 12px #888;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}
