/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme      .sys
 *  @subset     Settings CSS
 *  ----------------------------------------------------
 *  @modified   May 2012
 *  @version    4.0.0
 *  @author     Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* SETTINGS
--------------------------------------------------------------------------------------- */
#wait {
    display: none;
    text-align: center;
    vertical-align: middle;
    height: 100px;
}

#waitoverlay {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    text-align: center;
    padding-top: 100px;
    font-size: 13pt;
    font-weight: bold;
}

#settings {
    font-family: arial;
    font-weight: bold;
    font-size: 13pt;
    color: #000;
}

#settings a, a:visited {
    text-decoration: none;
}

#admSettingsPopupBalloon {
    display: none;
    position: absolute;
    top: 35px;
    right: 15px;
    width: 280px;
    min-height: 150px;
    padding-top: 10px;
}

.table-header {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.row-active {
    background: #888;
    color: #fff;
}

.row-active a {
    color: #fff;
}

.row-active:hover div {
    color: #000;
}

/* USERS
------------------------------------------------------------------------------*/

#admuser_avatar {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;
}

#admuser_info {
    position: relative;
    float: left;
    width: 180px;
}

#admuser_actions {
    position: relative;
    width: 100%;
    clear: both;
    text-align: center;
}

#admuser_actions input[type="button"] {
    margin-left: 10px;
}

/* SETTINGS MENUS
------------------------------------------------------------------------------*/

#admsettings_info {
    padding: 5px;
}

#admsettings_info_left {
    width: 600px;
    padding: 0;
}

#admsettings_quick_menu {
    position: relative;
    margin-top: 10px;
}

#admsettings_quick_menu .admsettings_menu_item {
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 8px;
}

#admsettings_quick_menu .admsettings_menu_item a {
    display: block;
    padding: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #000;
    border: 1px solid #888;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 100px;
}

#admsettings_quick_menu .admsettings_menu_item a:hover {
    background-color: #ddd;
    color: #0000aa;
}

#admsettings_quick_menu .admsettings_quick_menu_sub {
    position: relative;
    overflow: hidden;
}

#admsettings_quick_menu .admsettings_quick_menu_sub li {
    position: relative;
}

#admsettings_quick_menu .admsettings_quick_menu_sub li a {
    display: block;
    padding: 2px;
    color: #555;
    text-decoration: none;
    line-height: 1.1em;
    border: none;
}

#admsettings_quick_menu a:hover {
    background-color: #ddd;
    color: #0000aa;
}

/* SETTINGS TAB BAR
------------------------------------------------------------------------------*/

#settingstabs {
    background: transparent;
    border: none;
    overflow: hidden;
}

#settingstabs:after {
    clear: both;
}

#settingstabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#settingstabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#settingstabs .ui-tabs-nav .ui-state-active {
    background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
    border: none;
}
#settingstabs .ui-tabs-nav .ui-state-default a {
    padding: 8px 16px 13px 16px;
    color: #c0c0c0;
    border: 1px solid white;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#settingstabs .ui-tabs-nav .ui-state-active a {
    color: #1111aa !important;
    font-size: 11pt;
    border: 1px solid #bbb;
}
#settingstabs .ui-tabs-nav .ui-state-hover a {
    color: #000 !important;
    border: 1px solid #ddd;
}

#settingstabs ul li a.settingstabs_link,
#settingstabs ul li a.settingstabs_link:hover,
#settingstabs ul li a.settingstabs_link:visited,
#settingstabs ul li a.settingstabs_sublink,
#settingstabs ul li a.settingstabs_sublink:hover,
#settingstabs ul li a.settingstabs_sublink:visited {
    color: #000000 !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

#settingstabs .header {
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    padding: 10px 0px;
    clear: both;
}

#settingstabs .setlabel {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 20%;
    clear: left;
    float: left;
    margin-bottom: 7px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setlabel select {
    max-width: 80%;
}

#settingstabs .setlabelnarrow {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 15%;
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding-top: 2px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setdata,
#settingstabs .setdatapanel {
    min-height: 20px;
    width: 79%;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 2px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
}

#settingstabs .setdata textarea {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

#settingstabs .setdatapanel {
    border: 1px dotted #ccc;
    height: 1em;
    overflow: hidden;
}

#settingstabs .setdatapanel:before {
    content: "+";
    cursor: pointer;
    padding: 10px;
}

#settingstabs .setdatapanel .setreportpanel {
    margin: 8px 10px;
    background-color: #ddd;
    padding: 5px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportrow {
    position: relative;
    line-height: 1.1em;
    border-bottom: 1px dotted #bbb;
    clear: both;
    padding: 5px 0px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportcol {
    display: block;
    padding: 0 5px;
    overflow: hidden;
}

#settingstabs .setdatapanel .setreportcol.reportresetuseraudit {
    border-bottom: 0;
    cursor: pointer;
}

#settingstabs .setdatapanel .setreportpanel .setreportlabel {
    display: block;
    clear: both;
    border-top: 1px dotted #aaa;
    padding: 2px 0;
}

#settingstabs .setdatapanel .setreportpanel .setreportinfo {
    display: block;
    border-top: 1px dotted #aaa;
    padding: 2px 0;
}

#settingstabs .setdatapanel .setreportpanel .bad {
    padding-left: 20px;
    background: url(../images/icons/passbad.png) no-repeat left;
    color: #ff0000;
}

#settingstabs .setdatapanel .setreportpanel .ok {
    padding-left: 20px;
    background: url(../images/icons/passok.png) no-repeat left;
    color: #000000;
}

#settingstabs .setinnerlabel {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 80px;
    float: left;
    clear: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setinnerdata {
    min-height: 20px;
    width: 320px;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setinnerlabel2 {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 120px;
    float: left;
    clear: left;
    margin-bottom: 2px;
    padding-top: 2px;
}

#settingstabs .setsubdata {
    width: 100%;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 5px;
}

.settingstabs-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    text-align: center;
    z-index: 998;
}

.settingstabs-overlay > p {
    border: 1px solid #ccc;
    width: 40%;
    padding: 10px;
    background-color: rgba(255,255,255,0.85);
    margin: 90px 30%;
    font-weight: bold;
}

.settingstab {
    min-height: 600px !important;
    overflow: auto;
}

.settingstab a {
    border-bottom: 1px dotted gray;
}

.setsubmit {
    float: right;
    margin: 5px 0px 10px 0px;
    text-align: right;
}

.setsubmit input[type=submit] {
}

#cfgsubmit {
    margin-top: 5px;
    padding: 4px 15px;
    font-size: 14px !important;
}

#settingstab .underline {
    border-bottom: 1px solid black;
}

/* MESSAGES AND ACTIONS
------------------------------------------------------------------------------*/

.settingsactions {
    clear: both;
    border-bottom: 1px dotted #bbb;
    padding-bottom: 3px;
}

.settingsactions a {
    cursor: pointer;
    color: #0000ff !important;
}

.settingsactions a:hover {
    text-decoration: underline;
}

#issues {
    width: 80%;
    float: left;
}

.setissue {
    width: 99%;
    min-height: 14px;
    background-color: #ccccff;
    border: 1px dashed black;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
}

.ui-tabs-nav li img {
    vertical-align: top;
}

.settingsdescr {
    font-size: 0.9em;
    color: #333;
    clear: both;
}

/* ADMIN MENUS
------------------------------------------------------------------------------*/

#adminmenu_atts {
    position: relative;
    border: 1px solid #888;
    padding: 5px;
    width: 99%;
    min-height: 150px;
}

#adminmenu_sample {
    position: relative;
    overflow: hidden;
}

#adminmenu_menuitems {
    border: 1px solid #CCCCCC;
    margin: 10px 10px 0 0;
    padding: 10px;
    position: relative;
}

#adminmenu_menuitems_add_list {
    background-color: #efefef;
    border: 1px solid #cccccc;
    display: none;
    overflow: hidden;
    padding: 5px 10px;
}

.adminmenu_subnav {
    position: relative;
    margin-left: 15px;
}

.adminmenu_menuitem {
    position: relative;
    display: block;
    margin-top: 5px;
    width: 280px;
    cursor: move;
}

.adminmenu_menuitem span {
    display: block;
    background-color: #efefef;
    border: 1px solid #706961;
    border-radius: 4px;
    padding: 2px 5px;
    width: 100%;
}

.adminmenu_menuitem.chosen > span {
    background-color: #8888aa;
    color: #fff;
}

.adminmenu_menuitem_delete {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0 none !important;
    right: 0;
    top: 5px;
}

.adminmenu_menuitem_delete:hover {
    text-decoration: none !important;
}

.adminmenu_menuitem_clone {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0 none !important;
    right: 20px;
    top: 5px;
}

.adminmenu_menuitem_clone:hover {
    text-decoration: none !important;
}

#adminmenu_menubar_editor {
    display: none;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px 29px 5px 10px;
}

#adminmenu_editor {
    border: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    text-align: left;
    min-height: 210px;
}

#adminmenu_editor .setlabel,
#adminmenu_menubar_editor .setlabel {
    width: 30% !important;
}

#adminmenu_editor .setdata,
#adminmenu_menubar_editor .setdata {
    width: 69% !important;
}

#adminmenu_editor .adminmenu_delete {
    color: #aa0000 !important;
    font-weight: bold;
}

#adminmenu_menubar_editor .setdata textarea {
    min-width: 240px;
    max-width: 240px;
}

#adminmenu_menubar_editor .setbuttons {
    margin: 10px 0;
}

#adminmenu_taxdiv {
    margin-left: 20px;
}

/* WEBSITE MENUS
------------------------------------------------------------------------------*/

#websitemenu_atts {
    position: relative;
    border: 1px solid #888;
    padding: 5px;
    width: 99%;
    min-height: 150px;
}

#websitemenu_sample {
    position: relative;
    overflow: hidden;
}

#websitemenu_menuitems {
    border: 1px solid #CCCCCC;
    margin: 10px 10px 0 0;
    padding: 10px;
    position: relative;
}

#websitemenu_menuitems_add_list {
    background-color: #efefef;
    border: 1px solid #cccccc;
    display: none;
    overflow: hidden;
    padding: 5px 10px;
}

.websitemenu_subnav {
    position: relative;
    margin-left: 15px;
}

.websitemenu_menuitem {
    position: relative;
    display: block;
    margin-top: 5px;
    width: 280px;
    cursor: move;
}

.websitemenu_menuitem span {
    display: block;
    background-color: #efefef;
    border: 1px solid #706961;
    border-radius: 4px;
    padding: 2px 5px;
    width: 100%;
}

.websitemenu_menuitem.chosen > span {
    background-color: #8888aa;
    color: #fff;
}

.websitemenu_menuitem_delete {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0 none !important;
    right: 0;
    top: 5px;
}

.websitemenu_menuitem_delete:hover {
    text-decoration: none !important;
}

.websitemenu_menuitem_clone {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 0 none !important;
    right: 20px;
    top: 5px;
}

.websitemenu_menuitem_clone:hover {
    text-decoration: none !important;
}

#websitemenu_menubar_editor {
    display: none;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    margin-top: 5px;
    overflow: hidden;
    padding: 5px 29px 5px 10px;
}

#websitemenu_editor {
    border: 1px solid #CCCCCC;
    margin: 10px 0 0 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: left;
    min-height: 210px;
}

#websitemenu_editor .setlabel,
#websitemenu_menubar_editor .setlabel {
    width: 30% !important;
}

#websitemenu_editor .setdata,
#websitemenu_menubar_editor .setdata {
    width: 69% !important;
}

#websitemenu_editor .websitemenu_delete {
    color: #aa0000 !important;
    font-weight: bold;
}

#websitemenu_menubar_editor .setdata textarea {
    min-width: 240px;
    max-width: 240px;
}

#websitemenu_menubar_editor .setbuttons {
    margin: 10px 0;
}

/* PLUGINS
------------------------------------------------------------------------------*/

.plugin_zonesel {
    cursor: pointer;
    display: inline-block;
}

.plugin_list {
}

#plugin_settings {
    overflow: hidden;
}

.plugin_list_prob {
}

.plugin_row {
    min-height: 38px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.plugin_icon {
    width: 16px;
    margin-right: 2px;
    vertical-align: bottom;
}

.plugin_tile {
    width: 100px;
    height: 120px;
    font-size: 9pt;
    font-weight: normal;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    border: 1px dotted #ccc;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.plugin_tile img {
    width: 100px;
    height: 100px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 2px;
}

.plugin_tile a {
    text-decoration: none;
}

.plugin_leftside {
    clear: left;
    margin-right: 10px;
}

.plugin_actions {
    display: none;
}

.plugin_midside {
    float: left;
    margin-right: 3px;
}

.plugin_midside img {
    border: 1px solid black;
}

.plugin_rightside {
    float: left;
}

.plugin_info, .plugin_info_prob {
    position: relative;
    display: none;
    border: 1px solid gray;
    margin-top: 2px;
    padding: 4px;
    font-size: 9pt;
    background: #fff;
}

.plugin_group {
    margin: 10px 0;
    overflow: hidden;
}

.plugin_group h2 {
    font-size: 10pt !important;
}

.notactive {
    text-decoration: line-through;
    color: #888;
}

/* SEO
------------------------------------------------------------------------------*/

#ht_www_data, #ht_img_data {
    display: block;
    border: 1px solid #888;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    height: 100px;
    color: #000;
    padding: 2px;
    overflow: auto;
}

#ht_seo_addrow, #ht_301_addrow {
    float: right;
    margin-bottom: 5px;
}

.ht_seo, .ht_301 {
    clear: both;
}

.ht_seo_from, .ht_seo_to, .ht_301_from, .ht_301_to {
    width: 25%;
}

.ht_toggle {
    position: relative;
    width: 50px;
    display: inline-block;
    border: 1px dotted black;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}

/* THEMES
------------------------------------------------------------------------------*/

.colorpicker_button,
.colorpicker_swatch {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 15px;
    height: 16px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.colorpicker_reset {
    float: left;
    margin-left: 3px;
    cursor: pointer;
}

#colorpicker_curcolordiv {
    margin-bottom: 5px;
    margin-left: 3px;
    border: 1px solid black;
    width: 80px;
    height: 16px;
    background-color: #fff;
    float: left;
}

#colorpicker_hoverdiv,
#colorpicker_fieldcolor {
    margin-bottom: 5px;
    margin-left: 3px;
    border: 1px solid black;
    width: 105px;
    height: 16px;
    background-color: #fff;
    float: left;
}

#colorpicker_palettebox {
    height: 130px;
    overflow: auto;
    width: 100%;
    margin-left: 3px;
}

#colorpicker_closebutton {
    position: absolute;
    bottom: 5px;
    left: 40%;
}

#settingscolorpicker span {
    display: block;
    clear: left;
    float: left;
    width: 73px;
}

.active {
    border-style: double;
    border-width: 3px;
}

.disabled {
    display: none;
}

.nooverline {
    border-top: 0px !important;
}

.theme_row {
    min-height: 105px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}

.theme_tile {
    width: 100px;
    height: 120px;
    font-size: 9pt;
    font-weight: normal;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    border: 1px dotted #ccc;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.theme_tile img {
    width: 100px;
    height: 100px;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 2px;
}

.theme_tile a {
    text-decoration: none;
}

.theme_leftside {
    width: 200px;
    clear: left;
    float: left;
    margin-right: 10px;
}

.theme_logo {
    border: 1px solid #bbb;
    padding: 2px;
    margin-bottom: 5px;
}

.theme_actions {
    display: none;
}

.theme_midside {
    width: 20px;
    float: left;
    margin-right: 3px;
}

.theme_midside img {
    border: 1px solid black;
}

.theme_rightside {
    width: 430px;
    float: left;
}

.theme_info {
    display: none;
    width: 400px;
    border: 1px dotted gray;
    margin-top: 2px;
    padding: 4px;
    font-size: 9pt;
}

/* MEDIA
------------------------------------------------------------------------------*/

#media-header {
    overflow: hidden;
    padding-bottom: 5px;
}

.media_formats_row {
    padding: 2px 5px 9px;
}

/* USER MANAGER
------------------------------------------------------------------------------*/

.user_row {
    min-height: 20px;
    font-size: 9pt;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 2px 0px 5px 0px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    clear: both;
}

.user_you {
    margin-left: -6px;
    border-left: 4px solid #3333ff;
    padding-left: 2px;
}

.user_leftside {
    clear: left;
    padding-right: 1%;
}

.user_name {
    font-weight: bold;
}

.user_actions {
    display: none;
}

.user_rightside {
    line-height: 1.8em;
}

.user_rightside span.label {
    width: 130px;
    display: inline-block;
}

.user_profile {
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    padding: 5px 0;
    margin-top: 5px;
    display: none;
    overflow: hidden;
}

.users_pass_strength {
    max-width: 80px;
    padding: 0 5px;
    line-height: 1.2em;
    display: inline-block;
    margin-right: 5px;
}

#ua_container {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
    margin-top: 10px;
}

#ua_upper_container {
    position: relative;
    height: 20px;
    overflow: hidden;
    margin-left: 22%;
    white-space: nowrap;
}

#ua_usertypes {
    position: relative;
    height: 100%;
    border: none !important;
    padding: 0px 0.5%;
}
#ua_usertypes span {
    display: inline-block;
    width: 100px;
    float: left;
    text-align: center;
    font-weight: bold;
}

#ua_lower_container {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#ua_items {
    position: relative;
    width: 22%;
    text-align: left;
    margin-top: 25px;
    float: left;
    padding: 0 0 0 8px;
}

#ua_items span {
    display: block;
    border-bottom: 1px dotted black;
    height: 13px;
    padding: 9px 0px 2px 0px;
}

#ua_items .ua_delete {
    background: url("../images/icons/close_16.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    margin-top: -4px;
    position: absolute;
    right: 15px;
    width: 16px;
}

#ua_values {
    position: relative;
    width: 76.5%;
    border: 1px solid #888;
    background-color: #fff;
    float: left;
    padding: 0 0 10px;
    overflow: auto;
}

#ua_values div {
    height: 13px;
    border-bottom: 1px dotted black;
    padding: 9px 0px 2px 0px;
    overflow: hidden;
}

#ua_values span {
    display: inline-block;
    width: 100px;
    float: left;
    text-align: center;
}

#ua_values input[type=checkbox] {
    margin: 0px !important;
    padding: 0px !important;
}

.ua_value_group_title {
    background-color: #fefefe;
    height: 13px;
}

.ua_groups_reset {
    vertical-align: top;
    cursor: pointer;
}

/* INSTALLERS
--------------------------------------------------------------------------------------- */

.cfg_content {
    width: 500px;
    min-height: 100%;
    border: 1px solid #aaaaaa;
    padding: 5px;
    margin-bottom: 10px;
}

#cfgarea {
    color: #000000;
    height: auto;
    overflow: auto;
    padding: 10px;
}

#cfgdiv ul li a:link, #cfgarea a:visited {
    color: #000000;
    text-decoration: none;
}

#cfgdiv div {
    min-height: 680px;
}

#cfgarea h3 {
    font-weight: bold;
    font-size: 13pt;
    color: #0000ff;
    padding-left: 15px;
}

#cfgarea h3 a {
    font-weight: bold;
}

.cfgblock {
    overflow: hidden;
    padding: 10px 0px 0px 15px;
}

.cfglabel {
    display: inline-block;
    height: 20px;
    font-size: 9pt;
    font-weight: normal;
    width: 120px;
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding-top: 4px;
}

.cfgdata {
    display: inline-block;
    height: 20px;
    font-size: 9pt;
    font-weight: normal;
    float: left;
    margin-bottom: 5px;
    padding-top: 1px;
}

.cfgnote {
    display: inline-block;
    height: 20px;
    font-size: 8pt;
    font-weight: normal;
    float: left;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 3px;
}
