/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 5.0
 *  @theme      .sys
 *  @subset     Installer CSS
 *  ----------------------------------------------------
 *  @modified   Sept 2015
 *  @version    5.0.0
 *  @author     Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* RESET
-------------------------------------------------------------------------------------- */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, thead {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}

html {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

*, *:before, *:after {
    /*-webkit-box-sizing: inherit;*/
    /*-moz-box-sizing: inherit;*/
    /*box-sizing: inherit;*/
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 10px;
    font-weight: bold;
}

h4 {
    font-size: 8px;
}

/* BODY
-------------------------------------------------------------------------------------- */
body {
    background-color: #e0e0e0;
    color: #000000;
    font: 13px "Open Sans", Verdana, Geneva, sans-serif;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

.bold {
    font-weight: bold;
}

/* CONTENT
--------------------------------------------------------------------------------------- */
#content-wrapper {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 20px;
    min-height: calc(100% - 70px);
    overflow: hidden;
    padding: 10px;
    position: relative;
    -webkit-border-radius: 15px 15px 15px 15px;
       -moz-border-radius: 15px 15px 15px 15px;
            border-radius: 15px 15px 15px 15px;
}

#contentarea {
    position: relative;
    color: #000;
    padding: 10px;
}

#contentarea a:link, #contentarea a:visited  {
    color: #000;
    text-decoration: none;
}

#contentarea a:hover {
    color: #000;
    text-decoration: underline;
}

#contentarea h1 {
    font-size: 24px;
    text-align: center;
    padding: 5px 0 15px 0;
}

#contentarea h1 span {
    display: none;
}

#contentarea h3 a {
    font-weight: bold !important;
}

#logo {
    margin: 35px 0;
    text-align: center;
}

#contentarea .form {
    margin: 30px 0;
}

#contentarea label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#contentarea select, input[type=text], input[type=password] {
    width: 250px;
}

#contentarea textarea {
    width: 250px;
    height: 100px;
    max-width: 250px;
}

#contentarea .cfgnote {
    color: #444;
    display: block;
    margin-left: 149px;
}

#contentarea .cfgblock {
    background: #eee none repeat scroll 0 0;
    margin: 0 40px;
    padding: 10px 10px 0 10px;
}

#contentarea .cfgerr {
    color: #ff0000;
    font-weight: bold;
}

#contentarea .cfgbold {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#contentarea .reviewlabel {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}

#contentarea .cfgbuttons {
    text-align: center;
}

#contentarea .btn {
    background: #bbbbff none repeat scroll 0 0;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 10px;
    padding: 5px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    -webkit-border-radius: 6px 6px 6px 6px;
       -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px;
}

#contentarea .btn:hover {
    background: #cdcdff none repeat scroll 0 0 !important;
    color: #fff;
    text-decoration: none;
}

#contentarea .disabled {
    color: #888 !important;
}

#contentarea .disabled:hover {
    background: #bbbbff none repeat scroll 0 0 !important;
}

#contentarea .error {
    background: #ffdddd none repeat scroll 0 0;
    margin: 10px 40px;
    padding: 5px 10px;
}

#contentarea .pass_strength {
    max-width: 80px;
    padding: 3px 5px;
    line-height: 1.2em;
    display: inline-block;
    margin: 0 5px;
}

#progress {
    text-align: center;
}

#progress span {
    padding: 2px 14px;
    margin-right: 1px;
}

#progress span:after {
    content: " > ";
}

.progressdone {
    background: #6666cc none repeat scroll 0 0;
    border: 1px solid #6666cc;
    color: #fff;
}

.progresscur {
    background: #ccccff none repeat scroll 0 0;
    border: 1px solid #ccccff;
    font-weight: bold;
}

.progresstodo {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
}

.state0 {
    background-color: #ff0000;
    color: #000000;
}

.state1 {
    background-color: #ff8800;
    color: #000000;
}

.state2 {
    background-color: #ffff00;
    color: #000000;
}

.state3 {
    background-color: #88ff00;
    color: #000000;
}

.state4 {
    background-color: #44ff00;
    color: #000000;
}

.state5 {
    background-color: #00ff00;
    color: #000000;
}

.hidden {
    display: none;
}

/* FOOTER
--------------------------------------------------------------------------------------- */
.adm_footer {
    background: none repeat scroll 0 0 #bbbbff;
}

.adm_footer .alignleft {
    margin-left: 10px;
}

.adm_footer .alignright {
    margin-right: 10px;
}

.adm_footer a:link, a:visited {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.adm_footer a:hover {
    color: #000088;
    text-decoration: underline;
}

.adm_footer .rss {
    position: relative;
    bottom: -3px;
}

.adm_footer .copyright {
    text-decoration: none;
}
