/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme      Genesis 4
 *  @subset     Reset CSS
 *  ----------------------------------------------------
 *  @modified   July 2015
 *  @version    4.0.0
 *  @author     Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* MEDIA-QUERIES
-------------------------------------------------------------------------------------- */
/* Used to fix Firefox float error. A shorter method = overflow: hidden */
.clear, .clearfix, .row {
    clear: both;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.row {
    overflow: hidden;
}

.hideit, .hidden {
    display: none !important;
}

.showit, .shown {
    display: block !important;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.center {
    text-align: center;
}

.left-padding {
    padding-left: 5px;
}

.right-padding {
    padding-right: 10px;
}

.top-padding {
    padding-top: 5px;
}

.bottom-padding {
    padding-bottom: 5px;
}

.left-margin {
    margin-left: 5px;
}

.right-margin {
    margin-right: 10px;
}

.top-margin {
    margin-top: 5px;
}

.bottom-margin {
    margin-bottom: 5px;
}

.gap-5 {
    padding: 5px 5px 5px 0;
}

.gap-10 {
    padding: 10px 10px 10px 0;
}

.left-gutter {
    margin-left: 5px;
}

.right-gutter {
    margin-right: 5px;
}

.col-lg-12 { width: 100%; float: left; }
.col-lg-11 { width: 92%; float: left; }
.col-lg-10 { width: 83%; float: left; }
.col-lg-9  { width: 75%; float: left; }
.col-lg-8  { width: 66%; float: left; }
.col-lg-7  { width: 58%; float: left; }
.col-lg-6  { width: 50%; float: left; }
.col-lg-5  { width: 42%; float: left; }
.col-lg-4  { width: 33%; float: left; }
.col-lg-3  { width: 25%; float: left; }
.col-lg-2  { width: 16%; float: left; }
.col-lg-1  { width: 8%; float: left; }

.col-offset-left-12 { margin-left: 24%; }
.col-offset-left-11 { margin-left: 22%; }
.col-offset-left-10 { margin-left: 20%; }
.col-offset-left-9  { margin-left: 18%; }
.col-offset-left-8  { margin-left: 16%; }
.col-offset-left-7  { margin-left: 14%; }
.col-offset-left-6  { margin-left: 12%; }
.col-offset-left-5  { margin-left: 10%; }
.col-offset-left-4  { margin-left: 8%; }
.col-offset-left-3  { margin-left: 6%; }
.col-offset-left-2  { margin-left: 4%; }
.col-offset-left-1  { margin-left: 2%; }

.col-offset-right-12 { margin-right: 24%; }
.col-offset-right-11 { margin-right: 22%; }
.col-offset-right-10 { margin-right: 20%; }
.col-offset-right-9  { margin-right: 18%; }
.col-offset-right-8  { margin-right: 16%; }
.col-offset-right-7  { margin-right: 14%; }
.col-offset-right-6  { margin-right: 12%; }
.col-offset-right-5  { margin-right: 10%; }
.col-offset-right-4  { margin-right: 8%; }
.col-offset-right-3  { margin-right: 6%; }
.col-offset-right-2  { margin-right: 4%; }
.col-offset-right-1  { margin-right: 2%; }
