/**
 *  --------------------------------------------------------------------------------------
 *  Foundry Admin Theme CSS
 *  @sysversion 4.0
 *  @theme      Genesis 4
 *  @subset     Reset CSS
 *  ----------------------------------------------------
 *  @modified   July 2015
 *  @version    4.0.0
 *  @author     Chris Donalds <cdonalds01@gmail.com>
 *  ----------------------------------------------------
 */

/* RESET
-------------------------------------------------------------------------------------- */
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, thead {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    height: 100%;
}

html {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

*, *:before, *:after {
    /*-webkit-box-sizing: inherit;*/
    /*-moz-box-sizing: inherit;*/
    /*box-sizing: inherit;*/
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 10px;
    font-weight: bold;
}

h4 {
    font-size: 8px;
}
