@charset "utf-8";
/* -----------------------------------------
Title:			Global Style Sheet
Author: 		Chris Donalds
Updated: 		May.10.2010
Updated By: 	Chris Donalds
--------------------------------------------
TABLE OF CONTENTS
--------------------------------------------
Reset:
Globals:
Hacks/Fixes:
--------------------------------------------
/*----------------- Reset --------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 				0px;
	padding:                0px;
	border: 				0px;
	outline: 				0px;
	font-size: 				100%;
	vertical-align: 		baseline;
	background: 			transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: 			none;
}
blockquote, q {
	quotes: 				none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: 				'';
	content: 				none;
}

/* remember to define focus styles! */
:focus {
	outline: 				0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: 		none;
}
del {
	text-decoration: 		line-through;
}
/*------------- Global ------------------ */
.clear { clear: both; }
.floatLeft { float: left; }
.floatRight { float: right; }
.textLeft { text-align: left; }
.textRight { text-align: right; }
.textCenter { text-align: center; }
.textJustify { text-align: justify; }
.blockCenter { display: block; margin-left: auto; margin-right: auto; } /* remember to set width */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.noindent { margin-left: 0; padding-left: 0; }
.nomargin { margin: 0; }
.nopadding { padding: 0; }
.nobullet { list-style: none; list-style-image: none; }

/*------------- Hacks/Fixes ------------- */
.clearfix:after {
	visibility: 			hidden;
	display:				block;
	font-size:				0;
	content: 				" ";
	clear:				 	both;
	height: 				0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------- Form Entry Errors ------------------- */
.errormsg {
    width: 500px;
	height: auto;
	margin: 5px 5px 15px 5px;
    padding: 3px;
    color: #000;
    border: 1px solid black;
}
label.error {
    float: none; color: #880000; padding-left: .5em; vertical-align: top;
}
input.error {
    border: 1px solid red !important;
}
/*------------ Private Login ------------------------ */
#pvtloginbox {
    position: relative;
    margin: 100px auto;
    width: 430px;
    border: 1px solid #bdbec0;
    font-size: 9pt;
	background: #fff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    -moz-box-shadow: 0 4px 12px rgba(0,0,0,.6);
    box-shadow: 0 4px 12px rgba(0,0,0,.6);
    z-index: 1000;
	/* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=90, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#bbbbbb'),
            progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=270, Color='#bbbbbb');

}

label {
	font-weight: bold;
}

#pvtloginpass {
    position: relative;
    float: left;
    width: 100%;
}

#pvtpwd {
    position: relative;
    width: 175px;
	margin-top: 2px;
	border: 1px solid #888;
	padding: 6px 6px;
}

#pvtsubmit {
	background: #004488;
	color: #fff;
	border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 7px 13px;
	border: none;
	float: right;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

#pvtsubmit:hover {
	background: #1166aa;
	-webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    -moz-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
}

#pvtsubmit:active {
	background: #1166aa;
}

#pvtloginbox a, a:visited {
    text-decoration: underline;
    font-weight: normal;
}

#pvtloginbox h2 {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #1a518c;
	font-weight: bold;
	width: 426px;
	text-align: center;
    border-bottom: 1px solid #bdbec0;
    padding: 10px 2px 8px 2px;
    background: #e2e2da;
	margin: 0px;
}

#pvtloginbox h2.topmargin {
	margin-top: 200px;
}

#pvtlogininnerbox {
	position: relative;
	background-color: #fff;
	width: auto;
    padding: 15px;
    overflow: hidden;
}

#pvterror {
    min-height: 0px;
}

#pvterror span {
	color: red;
	font-weight: bolder;
	display: block;
	padding-bottom: 10px;
}

#pvtloginbox .fsec {
	display: none;
}

