@charset "utf-8";
/* -----------------------------------------
Title:			Layout Style Sheet
Author: 		Chris Donalds
Updated: 		May.03.2010
Updated By: 	Chris Donalds
--------------------------------------------
TABLE OF CONTENTS
--------------------------------------------
Body:
Wrapper:
Header:
Nav:
Nav Links:
Content:
Footer:
--------------------------------------------
STYLE RULES
--------------------------------------------
Box
			height
			width
			background
			border
			margin
			padding
			display

CSS3
			border-radius
			box-shadow



Position
			position
			top
			right
			bottom
			left
			float
			clear
			z-index

Font
			color
			font family
			font size
			line height
----------------------------------------- */
/*----------------- Body ---------------- */
body {
	background:				#c2c2c2;
	margin: 				0 auto;
	padding: 	    	  	0px;
}
/*-------------- Wrapper ---------------- */
#wrapper {
	width:					900px;
	margin:         		127px auto 0px auto;
	padding:          	    0px;
	position:       		relative;
	background-color:		#fff;
	z-index:				10; /*This index sets the base index for all other elements*/
}
#wrapper-inner {
	width:					900px;
	margin:         		127px auto 0px auto;
	padding:          	    0px;
	position:       		relative;
	background-color:		#fff;
	z-index:				10; /*This index sets the base index for all other elements*/
}
/*-------------- Header ----------------- */
#header {
	height:					120px;
	width:					100%;
	position:				relative;
	z-index:				20;
	padding-top:			80px;
}
#header-inner {
	height:					60px;
	width:					100%;
	position:				relative;
	z-index:				20;
	background: #c2c2c2;
}
#logo {
	float: 					left;
	position: 				relative;
	margin-left:			15px;
}
#logo-inner {
	float: 					left;
	position: 				relative;
}
#byline {
	float: 					left;
	position: 				relative;
	padding-top: 			25px;
	padding-left: 			70px;
	font-size: 				16px;
	width:320px;
	font-weight: bold;
	color:#333;
	line-height: 19px;
}
/*-------------- Content ---------------- */

#error {
	font-size: 12px;
	font-weight: bold;
	color: #aa0000 !important;
}
#left_logo {
	width: 140px;
	float: left;
}
#left_logo img {
	border: 0px;
}
#container{
	float: left;
	min-height:	            200px;
  	height:                 auto !important;
  	height:                 500px;
	width: 					92%;
	margin:                	0px 4%;
	padding: 				0px;
	position:				relative;
	z-index:				20;
}
.section{
    z-index:        		20;
}
#pdf_search,
#pdf_list {
	float:left;
	width:60%;
}
.pdf_wrapper {
	margin:0px 5% 5% 0;
	padding:0px;
	width:45%;
	min-height: 100px;
	float:left;
	overflow: hidden;
}
.pdf_wrapper .pdf_category_title,
.pdf_wrapper .pdf_category_list {
	float:left;
}
.pdf_category_list {
	width:94%;
	padding:2% 3%;
	margin:0 auto;
	display: block;
}
.pdf_category_list li a,
#news_list .news_article_title {
	margin:0px;
	padding:0px;
	color:#222;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 5px;
	display: block;
}
#news_list {
	width:40%;
	float:right;
	margin-top:8px;
	margin-right:-3%;
}
.news-wrapper {
	margin:5px 0;
	padding:5px 10px;
	border-left:2px solid #777;
}
.news-wrapper p {
	margin: 0px 0 10px 5px;
	padding:0px;
}


/*-------------- Footer ----------------- */
#footer {
	color:					#333;
	height:					30px;
	width:					860px;
	margin:					0px auto 0px auto;
	padding:                10px 20px 0px 20px;
	position:				relative;
	z-index:				20;
	overflow: hidden;
}

#footer-menu {
	position: relative;
	width: 900px;
	padding: 10px;
	margin: 0 auto;
	color: #333;
	font-weight: bold;
}

#footer-menu a {
	text-decoration: none;
	color: #333;
}