@ccharset "utf-8";
/* -----------------------------------------
Title:			Typography Style Sheet
Author: 		Chris Donalds
Updated: 		May.13.2010
Updated By: 	Chris Donalds
--------------------------------------------
----------------------------------------- */
body, pre {
    font-size:				12px;
    line-height:			15px;
    font-family:            Arial, Helvetica, Verdana, "sans-serif";
}
/* ----------------------------------------- */
H1 {
	font-size:				24px;
	font-family: 			Arial, Helvetica, Verdana, "sans-serif";
	margin-bottom: 			15px;
	line-height:			30px;
}
H2 {
	font-size:				18px;
	margin-bottom: 			15px;
}
H3 {
	font-size:				14px;
	margin-bottom: 			15px;
}
H4 {
	font-size:				12px;
	margin-bottom: 			10px;
}
blockquote {
	font-size: 				14px;
}
p {
    font-size: 				12px;
    margin-bottom: 			15px;
}
input {
    font-size: 				12px;
}
/* ----------------------------------------- */
#nav ul{
	font-size:				12px;
	color:					#000;
}
/* ----------------------------------------- */
#footer{
	font-size:				12px;
	color:					#333;
}
#footer a{
	font-size:				12px;
	color:					#333;
	text-decoration:		none;
}
#footer .copyright {
    margin:10px 0px;
    padding:0px;
    width:100%;
    display: block;
    text-align: center;
    font-size: 11px;
    clear:both;
    display: block;
}
/* ----------------------------------------- */
#news-aside h4 {
	font-size:				12px;
	margin-bottom: 			10px;
}
#news-aside a {
	margin-bottom: 			10px;
}

#login_form {
    margin-bottom: 10px;
}
#login_form input[type=text],
#login_form input[type=password] {
    margin: 0px;
    padding: 3px 7px;
    background:#eee;
    border:1px solid #555;
    font-size: 14px;
}
#login_form p {
    margin:0 0 10px 0;
}
#login_form input[type=submit] {
    margin:0px 0 0 3px;
    padding: 3px 7px;
    width:55px;
    text-align: center;
    color:#222;
    border-radius: 3px;
    font-size: 16px;
    background:#e87817;
    border:1px solid #555;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
#login_form input[type=submit]:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#header-inner #search_form {
    float:right;
}
#search_form {
    margin-top:10px;
    width:225px;
}
#search_form p {
    float:left;
}
#search_form input[type=text] {
    margin: 0px;
    padding: 3px 7px;
    background:#eee;
    border:1px solid #e87817;
    font-size: 14px;
    border-radius: 3px;
}
#search_form input[type=submit] {
    margin:0px 0 0 3px;
    padding: 3px 7px;
    width:55px;
    text-align: center;
    color:#222;
    border-radius: 3px;
    font-size: 16px;
    background:#e87817;
    border:1px solid #555;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    float:left;
}
.pdf_search_stmt {
    padding:10px;
    line-height: 25px;
}
#nav {
    margin:10px 0 0 30px;
    padding:0px;
    width:450px;
    float: left;
    text-align: center;
}
#nav li {
    margin:0px;
    padding:5px 15px;
    display: inline-block;
}
#nav li a {
    color:#666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.pdf_category_title,
.news_title {
    width:96%;
    padding:20px 2%;
    background: #d3d3d3;
    font-size: 22px;
    text-align: center;
    display: block;
    font-weight: bold;
}

#left-menu {
    float: left;
    position: relative;
    width: 20%;
    height: 71px;
    padding: 0 20px 0 20px;
    border-right: 2px solid white;
}

#left-menu .left-menu-title {
    display: block;
    font-size: 16px;
    line-height: 22px;
}

#left-menu .left-menu-contact {
    display: block;
    font-size: 12px;
    margin-left: 15px;
    line-height: 16px;
}

#left-mid-menu {
    float: left;
    position: relative;
    width: 20%;
    height: 52px;
    padding: 20px 20px 0 20px;
    border-right: 2px solid white;
}

#left-mid-menu a {
    margin-bottom: 5px;
}

#right-mid-menu {
    float: left;
    position: relative;
    width: 20%;
    height: 60px;
    padding: 11px 20px 0 20px;
    border-right: 2px solid white;
    font-size: 14px;
    line-height: 30px;
}

#right-menu {
    float: left;
    position: relative;
    width: 20%;
    height: 60px;
    padding: 11px 20px 0 20px;
    font-size: 14px;
    line-height: 30px;
}

/* SEARCH */

#search_div_stmt {
    margin-top: 15px;
}

#search_title {
    position: relative;
    clear: both;
    font-size: 20px;
    color #333;
    font-weight: bold;
}

#search_title span {
    position: relative;
    font-size: 18px;
    color: #00aaee;
}

#pdf_list_search {
    position: relative;
    margin-top: 20px;
    color: #333;
    font-size: 14px;
}

#pdf_list_search .pdf {
    position: relative;
    margin: 15px 40px;
    width: 400px;
}

#pdf_list_search a {
    position: relative;
    float: left;
}

#pdf_list_search .pdf_archive_status {
    position: relative;
    float: right;
    color: #008800;
}

#pdf_list_search .pdf_archive_status.archived {
    color: #cc0000;
}

#pdf_list_search p {
    clear: both;
    margin-left: 25px;
    line-height: 20px;
}

.no_pdfs {
    position: relative;

}
