.dsm_table_col_row {
    overflow: hidden;
}

.dsm_table_col_typesize {
    margin-left: 2px;
    width: 30px;
}

.dsm_header {
    font-weight: bold !important;
    font-size: 12px !important;
    margin: 3px 0;
}

.dsm_table_cols {
    display: none;
}

.dsm-highlight-row {
    background-color: #eee;
}