#admloginbox {
}

#admloginuser_openid {
    position: relative;
    float: left;
    width: 190px;
}

#admuser_openid {
    position: relative;
    width: 175px;
    margin-top: 2px;
    border: 1px solid #888;
    padding: 6px 6px;
}

#admlogininnerbox_openid {
    display: none;
    position: relative;
    background-color: #fff;
    width: auto;
    height: 100%;
    padding: 15px;
    overflow: hidden;
}

#admlogininnerbox_openid form {
    float: left;
    margin: 0 0 10px 15px;
}

#admlogininnerbox_openid span {
    float: left;
}

#admsubmit_openid_opts {
    margin-top: 5px;
    clear: both;
}

#admlogininnerbox_openid .admsubmit_openid_button {
    color: #fff;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

#admsubmit_openid_google {
    background: url(images/google-icon.png) no-repeat #002288;
}

#admsubmit_openid_facebook {
    background: url(images/facebook-icon.png) no-repeat #002288;
}

#admsubmit_openid_button:hover {
    background: #0033aa;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    -moz-box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
}

#admsubmit_openid:active {
    background: #1166aa;
}
